In [1]:
#Jia Yi (Susan) Wang
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
import re
#import seaborn
#seaborn.set()

from sklearn.model_selection import train_test_split
from sklearn.pipeline import make_pipeline
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import FunctionTransformer

""""from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC"""

"""from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier"""

#from sklearn.cluster import KMeans
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.neural_network import MLPRegressor
from sklearn.linear_model import LinearRegression

In [2]:
genres = pd.read_json('data/genres.json.gz', orient='record', lines=True, encoding='utf-8')
omdb_data = pd.read_json('data/omdb-data.json.gz', orient='record', lines=True, encoding='utf-8')
rt_data = pd.read_json('data/rotten-tomatoes.json.gz', orient='record', lines=True, encoding='utf-8')
wd_data = pd.read_json('data/wikidata-movies.json.gz', orient='record', lines=True, encoding='utf-8')

In [3]:
omdb_data=omdb_data.explode('omdb_genres')
omdb_data=omdb_data[omdb_data.omdb_awards.notnull()]
omdb_data=omdb_data[omdb_data.omdb_awards!='N\A']

nominations_re = re.compile(r'Nominated for (\d+)')
nominations_re2 = re.compile(r'(\d+) nomination(s?)')
wins_re = re.compile(r'(\d+) win(s?)')
wins_re2 = re.compile(r'Won (\d+)')

def get_wins(txt):
    wins = 0
    wins1 = wins_re.search(txt)
    wins2 = wins_re2.search(txt)
    if wins1:
        wins = wins + int(wins1.group(1))
    if wins2:
        wins = wins + int(wins2.group(1))
    return wins

def get_nominations(txt):
    noms = 0
    nominations1 = nominations_re.search(txt)
    nominations2 = nominations_re2.search(txt)
    if nominations1:
        noms = noms + int(nominations1.group(1))
    if nominations2:
        noms = noms + int(nominations2.group(1))
    return noms

omdb_data['nominations'] = omdb_data['omdb_awards'].apply(get_nominations)
omdb_data['wins'] = omdb_data['omdb_awards'].apply(get_wins)

In [4]:
#np.set_printoptions(threshold=np.inf)
#set(omdb_data.omdb_awards)
omdb_data

,imdb_id,omdb_genres,omdb_plot,omdb_awards,nominations,wins
0,tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0
0,tt0060814,History,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0
0,tt0060814,War,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0
1,tt2379713,Action,A cryptic message from the past sends James Bo...,Won 1 Oscar. Another 7 wins & 32 nominations.,32,8
1,tt2379713,Adventure,A cryptic message from the past sends James Bo...,Won 1 Oscar. Another 7 wins & 32 nominations.,32,8
1,tt2379713,Thriller,A cryptic message from the past sends James Bo...,Won 1 Oscar. Another 7 wins & 32 nominations.,32,8
2,tt0230575,Comedy,"The makers of this parody of ""Night of the Liv...",N/A,0,0
2,tt0230575,Horror,"The makers of this parody of ""Night of the Liv...",N/A,0,0
3,tt0065988,Adventure,Jack Crabb is 121 years old as the film begins...,Nominated for 1 Oscar. Another 5 wins & 8 nomi...,9,5
3,tt0065988,Comedy,Jack Crabb is 121 years old as the film begins...,Nominated for 1 Oscar. Another 5 wins & 8 nomi...,9,5
3,tt0065988,Drama,Jack Crabb is 121 years old as the film begins...,Nominated for 1 Oscar. Another 5 wins & 8 nomi...,9,5
4,tt1995390,Crime,"When Perry and his girlfriend, Gail, cross pat...",2 nominations.,2,0
4,tt1995390,Drama,"When Perry and his girlfriend, Gail, cross pat...",2 nominations.,2,0
4,tt1995390,Thriller,"When Perry and his girlfriend, Gail, cross pat...",2 nominations.,2,0
5,tt0066921,Crime,"Protagonist Alex DeLarge is an ""ultraviolent"" ...",Nominated for 4 Oscars. Another 9 wins & 19 no...,23,9
5,tt0066921,Drama,"Protagonist Alex DeLarge is an ""ultraviolent"" ...",Nominated for 4 Oscars. Another 9 wins & 19 no...,23,9
5,tt0066921,Sci-Fi,"Protagonist Alex DeLarge is an ""ultraviolent"" ...",Nominated for 4 Oscars. Another 9 wins & 19 no...,23,9
6,tt1298650,Action,Captain Jack Sparrow (Depp) crosses paths with...,2 wins & 31 nominations.,31,2
6,tt1298650,Adventure,Captain Jack Sparrow (Depp) crosses paths with...,2 wins & 31 nominations.,31,2
6,tt1298650,Fantasy,Captain Jack Sparrow (Depp) crosses paths with...,2 wins & 31 nominations.,31,2
7,tt0069947,Crime,It is the early 60s in France. The remaining s...,Nominated for 1 Oscar. Another 1 win & 10 nomi...,11,1
7,tt0069947,Drama,It is the early 60s in France. The remaining s...,Nominated for 1 Oscar. Another 1 win & 10 nomi...,11,1
7,tt0069947,Thriller,It is the early 60s in France. The remaining s...,Nominated for 1 Oscar. Another 1 win & 10 nomi...,11,1
8,tt0116629,Action,"On July 2nd, communications systems worldwide ...",Won 1 Oscar. Another 34 wins & 34 nominations.,34,35
8,tt0116629,Adventure,"On July 2nd, communications systems worldwide ...",Won 1 Oscar. Another 34 wins & 34 nominations.,34,35
8,tt0116629,Sci-Fi,"On July 2nd, communications systems worldwide ...",Won 1 Oscar. Another 34 wins & 34 nominations.,34,35
9,tt0057012,Comedy,Paranoid Brigadier General Jack D. Ripper of B...,Nominated for 4 Oscars. Another 13 wins & 7 no...,11,13
9,tt0057012,War,Paranoid Brigadier General Jack D. Ripper of B...,Nominated for 4 Oscars. Another 13 wins & 7 no...,11,13
10,tt1568346,Crime,This English-language adaptation of the Swedis...,Won 1 Oscar. Another 27 wins & 90 nominations.,90,28
10,tt1568346,Drama,This English-language adaptation of the Swedis...,Won 1 Oscar. Another 27 wins & 90 nominations.,90,28
...,...,...,...,...,...,...
9661,tt2318405,Action,"In WW2, after a tank battle, a wounded Soviet ...",4 wins & 7 nominations.,7,4
9661,tt2318405,Adventure,"In WW2, after a tank battle, a wounded Soviet ...",4 wins & 7 nominations.,7,4
9661,tt2318405,Fantasy,"In WW2, after a tank battle, a wounded Soviet ...",4 wins & 7 nominations.,7,4
9662,tt0254617,Comedy,A young woman is in Orlando visiting her ailin...,N/A,0,0
9662,tt0254617,Romance,A young woman is in Orlando visiting her ailin...,N/A,0,0
9663,tt0266489,Comedy,Alex Rose and Nancy Kendricks are a young coup...,2 nominations.,2,0
9664,tt0280962,Crime,A terrifying love triangle. An original twist ...,4 wins & 2 nominations.,2,4
9664,tt0280962,Horror,A terrifying love triangle. An original twist ...,4 wins & 2 nominations.,2,4
9664,tt0280962,Romance,A terrifying love triangle. An original twist ...,4 wins & 2 nominations.,2,4
9665,tt0298491,Drama,"Nicklas lives a pretty normal teenage life, un...",10 wins & 3 nominations.,3,10
9665,tt0298491,Fantasy,"Nicklas lives a pretty normal teenage life, un...",10 wins & 3 nominations.,3,10
9665,tt0298491,Thriller,"Nicklas lives a pretty normal teenage life, un...",10 wins & 3 nominations.,3,10
9666,tt0978702,Drama,"Raghavendra, Vishnu, Chinna, and Vamsi are bro...",N/A,0,0
9667,tt0096219,Drama,An acerbic radio talk show host based in Dalla...,3 wins & 5 nominations.,5,3
9668,tt1986994,Fantasy,"""Season of the Equinox, the witch besets her k...",N/A,0,0
9668,tt1986994,Horror,"""Season of the Equinox, the witch besets her k...",N/A,0,0
9668,tt1986994,Thriller,"""Season of the Equinox, the witch besets her k...",N/A,0,0
9669,tt1183487,Drama,Colin Mc Nally couldn't give a toss about the ...,5 wins.,0,5
9670,tt0113101,Comedy,This movie features the collaborative director...,1 win & 1 nomination.,1,1
9671,tt0052365,Action,Einar and Eric are two Viking half-brothers. T...,2 wins & 1 nomination.,1,2
9671,tt0052365,Adventure,Einar and Eric are two Viking half-brothers. T...,2 wins & 1 nomination.,1,2
9672,tt0088099,Comedy,In lieu of love and affections from his multi-...,2 wins & 1 nomination.,1,2
9672,tt0088099,Drama,In lieu of love and affections from his multi-...,2 wins & 1 nomination.,1,2
9672,tt0088099,Romance,In lieu of love and affections from his multi-...,2 wins & 1 nomination.,1,2
9673,tt5580036,Biography,Competitive ice skater Tonya Harding rises amo...,Nominated for 3 Oscars. Another 31 wins & 109 ...,112,31
9673,tt5580036,Comedy,Competitive ice skater Tonya Harding rises amo...,Nominated for 3 Oscars. Another 31 wins & 109 ...,112,31
9673,tt5580036,Drama,Competitive ice skater Tonya Harding rises amo...,Nominated for 3 Oscars. Another 31 wins & 109 ...,112,31
9674,tt2244376,Drama,Plot: Bwakaw is a drama-comedy about growing o...,16 wins & 34 nominations.,34,16
9675,tt4986098,Sci-Fi,A military family takes part in a ground-break...,N/A,0,0
9675,tt4986098,Thriller,A military family takes part in a ground-break...,N/A,0,0

In [5]:
wd_data = wd_data.explode('cast_member')
movies_played=wd_data[['cast_member','wikidata_id']].groupby('cast_member').count().reset_index().rename(columns={'wikidata_id':'movies_in'})
wd_data_stars = movies_played[movies_played.movies_in>1]
wd_data_stars = wd_data_stars.set_index('cast_member').join(wd_data.set_index('cast_member'),on='cast_member').reset_index()

In [6]:
wd_data_stars #filter out actors who only performed in one movie

,cast_member,movies_in,wikidata_id,label,imdb_id,rotten_tomatoes_id,enwiki_title,genre,director,publication_date,country_of_origin,original_language,filming_location,based_on,made_profit,metacritic_id,main_subject,series
0,Q100028,2,Q1219862,Die Weiße Rose,tt0084897,m/white_rose,Die Weiße Rose (film),"[Q17013749, Q130232]",[Q67641],1982-01-01,Q183,Q188,NaN,NaN,NaN,NaN,"[Q362, Q8454]",NaN
1,Q100028,2,Q311626,Sophie Scholl – The Final Days,tt0426578,m/sophie_scholl_die_letzten_tage,Sophie Scholl – The Final Days,"[Q645928, Q130232]",[Q67266],2005-02-13,Q183,Q188,NaN,NaN,NaN,movie/sophie-scholl-the-final-days,"[Q362, Q8454]",NaN
2,Q1001175,3,Q325286,David,tt0079028,m/770798780,David (1979 film),[Q130232],[Q73683],1979-01-01,Q183,Q188,NaN,NaN,NaN,NaN,NaN,NaN
3,Q1001175,3,Q1198160,The Magic Mountain,tt0084946,m/thomas_manns_the_magic_mountain,The Magic Mountain (1982 film),"[Q2975633, Q130232]",[Q74013],1982-02-25,Q142,Q188,[Q11911],Q212898,NaN,NaN,NaN,NaN
4,Q1001175,3,Q681602,Love in Thoughts,tt0325733,m/18536,Love in Thoughts,"[Q130232, Q20442589]",[Q85305],2004-01-01,Q183,Q188,NaN,NaN,NaN,NaN,NaN,NaN
5,Q1001214,11,Q1211343,The Beverly Hillbillies,tt0106400,m/1046435-beverly_hillbillies,The Beverly Hillbillies (film),[Q157443],[Q441578],1993-01-01,Q30,Q1860,[Q3476090],NaN,NaN,NaN,NaN,NaN
6,Q1001214,11,Q1619460,Broadway Melody of 1936,tt0026144,m/broadway_melody_of_1936,Broadway Melody of 1936,[Q842256],"[Q918762, Q547078]",1935-01-01,Q30,Q1860,NaN,NaN,NaN,NaN,NaN,NaN
7,Q1001214,11,Q193066,Breakfast at Tiffany's,tt0054698,m/breakfast_at_tiffanys,Breakfast at Tiffany's (film),"[Q860626, Q157443, Q52162262]",[Q56093],1961-01-01,Q30,Q1860,[Q60],Q849930,1.0,movie/breakfast-at-tiffanys,NaN,NaN
8,Q1001214,11,Q229547,Born to Dance,tt0027387,m/born_to_dance,Born to Dance,[Q842256],[Q918762],1936-01-01,Q30,Q1860,NaN,NaN,NaN,NaN,NaN,NaN
9,Q1001214,11,Q1093219,"Davy Crockett, King of the Wild Frontier",tt0047977,m/davy_crockett_king_of_the_wild_frontier,"Davy Crockett, King of the Wild Frontier",[Q2143665],[Q2409726],1955-05-25,Q30,Q1860,"[Q99, Q1454]",NaN,NaN,NaN,[Q638530],Q3019192
10,Q1001214,11,Q1424447,The Girl of the Golden West,tt0030182,m/girl_of_the_golden_west,The Girl of the Golden West (1938 film),"[Q130232, Q1054574, Q842256, Q172980]",[Q269731],1938-01-01,Q30,Q1860,NaN,NaN,NaN,NaN,NaN,NaN
11,Q1001214,11,Q624658,Mail Order Bride,tt0058318,m/771070746,Mail Order Bride (1964 film),[Q172980],[Q786712],1964-01-01,Q30,Q1860,NaN,NaN,NaN,NaN,NaN,NaN
12,Q1001214,11,Q3202604,"The One and Only, Genuine, Original Family Band",tt0063389,m/one_and_only_genuine_original_family_band,"The One and Only, Genuine, Original Family Band",[Q842256],[Q1688887],1968-03-21,Q30,Q1860,NaN,NaN,NaN,NaN,NaN,NaN
13,Q1001214,11,Q3282128,Red Garters,tt0047400,m/red_garters,Red Garters (film),[Q842256],[Q1384550],1954-01-01,Q30,Q1860,NaN,NaN,NaN,NaN,NaN,NaN
14,Q1001214,11,Q7522737,Sing Your Worries Away,tt0035338,m/sing_your_worries_away,Sing Your Worries Away,[Q842256],[Q278657],1942-01-01,Q30,Q1860,NaN,NaN,NaN,NaN,NaN,NaN
15,Q1001214,11,Q638884,Attack,tt0048966,m/1100820-attack,Attack (1956 film),[Q369747],[Q95133],1956-09-01,Q30,Q1860,NaN,NaN,NaN,NaN,[Q362],NaN
16,Q100122,10,Q3548291,A Yank in the R.A.F.,tt0034405,m/yank_in_the_raf,A Yank in the R.A.F.,"[Q1935609, Q188473, Q369747, Q130232]",[Q269505],1941-09-25,Q30,Q1860,NaN,NaN,NaN,NaN,"[Q765633, Q362, Q154720]",NaN
17,Q100122,10,Q3211582,Fear,tt0047336,m/770911172,Fear (1954 film),"[Q1919632, Q1054574, Q2254548, Q130232, Q52162...",[Q53003],1954-01-01,Q38,Q188,NaN,Q543773,NaN,NaN,NaN,NaN
18,Q100122,10,Q2411975,The Hitler Gang,tt0036921,m/the-hitler-gang,The Hitler Gang,"[Q369747, Q130232]",[Q547495],1944-01-01,Q30,Q1860,NaN,NaN,NaN,NaN,[Q362],NaN
19,Q100122,10,Q1401787,The Dark Corner,tt0038453,m/dark_corner,The Dark Corner,"[Q185867, Q959790, Q130232]",[Q457250],1946-01-01,Q30,Q1860,NaN,Q174941,NaN,NaN,NaN,NaN
20,Q100122,10,Q1662410,"What Did You Do in the War, Daddy?",tt0061176,m/what_did_you_do_in_the_war_daddy,"What Did You Do in the War, Daddy?","[Q369747, Q157443]",[Q56093],1966-01-01,Q30,Q1860,NaN,NaN,NaN,NaN,[Q362],NaN
21,Q100122,10,Q1390900,"Arise, My Love",tt0032220,m/arise_my_love,"Arise, My Love",[Q860626],[Q276130],1940-01-01,Q30,Q1860,NaN,NaN,NaN,NaN,"[Q765633, Q362, Q10859]",NaN
22,Q100122,10,Q578061,Unfaithfully Yours,tt0040919,m/1022369-unfaithfully_yours,Unfaithfully Yours (1948 film),[Q860626],[Q546204],1948-01-01,Q30,Q1860,NaN,NaN,NaN,NaN,NaN,NaN
23,Q100122,10,Q1263897,The Enemy Below,tt0050356,m/enemy_below,The Enemy Below,[Q369747],[Q287977],1957-01-01,Q30,Q1860,NaN,NaN,NaN,NaN,"[Q362, Q1757301]",NaN
24,Q100122,10,Q760014,Edge of Darkness,tt0034694,m/1040593-edge_of_darkness,Edge of Darkness (1943 film),"[Q369747, Q130232]",[Q285928],1943-01-01,Q30,Q1860,NaN,NaN,NaN,NaN,[Q362],NaN
25,Q100122,10,Q758585,Hangmen Also Die!,tt0035966,m/hangmen_also_die,Hangmen Also Die!,"[Q369747, Q130232]",[Q19504],1943-03-23,Q30,Q1860,NaN,NaN,NaN,NaN,[Q362],NaN
26,Q1001240,4,Q1219516,Sergeants 3,tt0056470,m/sergeants_3,Sergeants 3,[Q157443],[Q361670],1962-01-01,Q30,Q1860,[Q829],NaN,NaN,NaN,NaN,NaN
27,Q1001240,4,Q1290897,Hardly Working,tt0082501,m/hardly_working,Hardly Working,[Q157443],[Q294927],1980-01-01,Q30,Q1860,NaN,NaN,NaN,NaN,NaN,NaN
28,Q1001240,4,Q464933,Ocean's 11,tt0054135,m/1015373-oceans_eleven,Ocean's 11,"[Q496523, Q157443]",[Q285928],1960-08-10,Q30,Q1860,"[Q2624848, Q1297, Q1535845]",NaN,NaN,NaN,[Q11416],NaN
29,Q1001240,4,Q577407,The Party,tt0063415,m/1015967-party,The Party (1968 film),[Q157443],[Q56093],1968-01-01,Q30,Q1860,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
276582,Q999332,31,Q1545189,Defending Your Life,tt0101698,m/defending_your_life,Defending Your Life,"[Q860626, Q157394]",[Q356303],1991-01-01,Q30,Q1860,NaN,NaN,NaN,NaN,NaN,NaN
276583,Q999332,31,Q1193184,The Secret War of Harry Frigg,tt0063573,m/secret_war_of_harry_frigg,The Secret War of Harry Frigg,"[Q157443, Q369747]",[Q606380],1967-01-01,Q30,Q1860,NaN,NaN,NaN,NaN,[Q362],NaN
276584,Q999332,31,Q1422017,Even Cowgirls Get the Blues,tt0106834,m/even_cowgirls_get_the_blues,Even Cowgirls Get the Blues (film),"[Q860626, Q859369, Q1257444, Q20442589]",[Q25186],1993-01-01,Q30,Q1860,NaN,NaN,NaN,movie/even-cowgirls-get-the-blues,NaN,NaN
276585,Q999332,31,Q141447,Town & Country,tt0141907,m/town_and_country,Town & Country (film),[Q860626],[Q1333379],2001-01-01,Q30,Q1860,[Q65],NaN,NaN,movie/town-country,NaN,NaN
276586,Q999332,31,Q217627,The Graduate,tt0061722,m/graduate,The Graduate,"[Q859369, Q2975633, Q52162262]",[Q51537],1967-01-01,Q30,Q1860,"[Q62, Q456685]",Q6725109,NaN,movie/the-graduate,[Q170538],NaN
276587,Q999332,31,Q938612,Harrison Bergeron,tt0113264,m/kurt_vonneguts_harrison_bergeron,Harrison Bergeron (film),"[Q471839, Q20443008]",[Q2926461],1995-01-01,Q16,Q1860,NaN,NaN,NaN,NaN,NaN,NaN
276588,Q999332,31,Q471720,Grumpy Old Men,tt0107050,m/grumpy_old_men,Grumpy Old Men (film),"[Q860626, Q663106, Q28026639]",[Q521262],1993-01-01,Q30,Q1860,NaN,NaN,1.0,movie/grumpy-old-men,[Q191089],NaN
276589,Q999332,31,Q509003,Die Brücke,tt0052654,m/1086058-bridge,Die Brücke (film),"[Q130232, Q369747]",[Q78924],1959-10-22,Q183,Q188,NaN,NaN,NaN,NaN,[Q362],NaN
276590,Q999332,31,Q590701,To Die For,tt0114681,m/1066712-to_die_for,To Die For,"[Q859369, Q157443]",[Q25186],1995-01-01,Q145,Q1860,[Q1904],NaN,NaN,movie/to-die-for,NaN,NaN
276591,Q999332,31,Q1273817,Taking Off,tt0067820,m/taking_off,Taking Off (film),"[Q859369, Q842256, Q157443]",[Q51525],1971-01-01,Q30,Q1860,NaN,NaN,NaN,NaN,NaN,NaN
276592,Q999332,31,Q1551573,The Player,tt0105151,m/player,The Player (film),[Q52162262],[Q55163],1992-01-01,Q30,Q1860,"[Q65, Q99, Q387047]",NaN,NaN,movie/the-player,NaN,NaN
276593,Q999332,31,Q637180,Heaven Can Wait,tt0077663,m/1009427-heaven_can_wait,Heaven Can Wait (1978 film),"[Q860626, Q157394]","[Q95030, Q999332]",1978-06-28,Q30,Q1860,NaN,Q583525,NaN,NaN,NaN,NaN
276594,Q999332,31,Q1195431,The Man Who Fell to Earth,tt0074851,m/man_who_fell_to_earth,The Man Who Fell to Earth,"[Q471839, Q130232, Q52162262]",[Q51541],1976-03-18,Q145,Q1860,[Q1522],Q2531250,NaN,movie/the-man-who-fell-to-earth-1976,[Q15326],NaN
276595,Q999332,31,Q7766753,The Story of Film: An Odyssey,tt2044056,m/the_story_of_film_an_odyssey_2012,The Story of Film: An Odyssey,"[Q7603925, Q93204]",[Q6767175],2011-01-01,Q145,Q1860,NaN,NaN,NaN,movie/the-story-of-film-an-odyssey,[Q1415395],NaN
276596,Q999332,31,Q16249127,Casting By,tt1293751,m/Casting_By,Casting By,[Q93204],[Q18001051],2012-09-10,Q30,Q1860,NaN,NaN,NaN,movie/casting-by,NaN,NaN
276597,Q999332,31,Q627942,Gloria,tt0080798,m/1008407-gloria,Gloria (1980 film),"[Q959790, Q130232]",[Q51488],1980-01-01,Q30,Q1860,"[Q60, Q1408]",NaN,NaN,NaN,[Q46952],NaN
276598,Q999332,31,Q654154,Aria,tt0092580,m/aria,Aria (film),[Q842256],"[Q53001, Q55163, Q449220, Q282787, Q348059, Q5...",1987-01-01,Q145,Q652,"[Q12994, Q99, Q2624848, Q84, Q90, Q816]",NaN,NaN,NaN,NaN,NaN
276599,Q999332,31,Q922251,Candy,tt0062776,m/1105374-candy,Candy (1968 film),"[Q319221, Q157394, Q157443, Q52162262]",[Q1081030],1968-01-01,Q142,Q1860,NaN,NaN,NaN,NaN,NaN,NaN
276600,Q999332,31,Q1125888,The Day of the Dolphin,tt0069946,m/day_of_the_dolphin,The Day of the Dolphin,"[Q622291, Q471839, Q188473, Q52162262]",[Q51537],1973-01-01,Q30,Q1860,[Q778],Q837041,NaN,NaN,[Q614130],NaN
276601,Q999332,31,Q3881503,Old Boyfriends,tt0079660,m/old_boyfriends,Old Boyfriends,[Q130232],[Q6205491],1979-01-01,Q30,Q1860,NaN,NaN,NaN,NaN,NaN,NaN
276602,Q999332,31,Q2349343,Eating Raoul,tt0083869,m/eating_raoul,Eating Raoul,[Q224700],[Q1651660],1982-01-01,Q30,Q1860,[Q65],NaN,NaN,NaN,NaN,NaN
276603,Q999332,31,Q428489,Curtain Call,tt0119505,m/curtain_call,Curtain Call (1998 film),"[Q157443, Q2973181]",[Q314301],1999-01-01,Q30,Q1860,NaN,NaN,NaN,NaN,NaN,NaN
276604,Q999332,31,Q903798,Breakfast of Champions,tt0120618,m/breakfast_of_champions,Breakfast of Champions (film),"[Q157443, Q20442589]",[Q1337411],1999-01-01,Q30,Q1860,NaN,NaN,NaN,movie/breakfast-of-champions,NaN,NaN
276605,Q999332,31,Q926839,Rude Awakening,tt0098230,m/1017957-rude_awakening,Rude Awakening (film),[Q157443],"[Q2413805, Q302634]",1989-01-01,Q30,Q1860,[Q812],NaN,NaN,NaN,NaN,NaN
276606,Q999332,31,Q1050533,Catch-22,tt0065528,m/catch22,Catch-22 (film),"[Q859369, Q369747, Q128758, Q53094, Q1257444]",[Q51537],1970-06-24,Q30,Q1860,NaN,Q278208,NaN,NaN,"[Q362, Q765633]",NaN
276607,Q999332,31,Q605226,Short Cuts,tt0108122,m/short_cuts,Short Cuts,[Q859369],[Q55163],1993-01-01,Q30,Q1860,[Q65],NaN,NaN,movie/short-cuts,[Q127683],NaN
276608,Q999332,31,Q12125142,Is There Sex After Death?,tt0125263,m/is_there_sex_after_death,Is There Sex After Death?,[Q459435],[Q4706046],1971-01-01,Q30,Q1860,NaN,NaN,NaN,NaN,[Q291],NaN
276609,Q999769,3,Q6544913,Life Just Is,tt1758689,m/life_just_is_2012,Life Just Is,[Q2975633],NaN,2012-01-01,Q145,Q1860,NaN,NaN,NaN,NaN,NaN,NaN
276610,Q999769,3,Q5243195,Daylight Robbery,tt0893401,m/daylight_robbery,Daylight Robbery (2008 film),"[Q959790, Q130232]",NaN,2008-01-01,Q145,Q1860,[Q235],NaN,NaN,NaN,NaN,NaN
276611,Q999769,3,Q853351,If Only,tt0332136,m/1159665-if_only,If Only (2004 film),"[Q1054574, Q130232, Q157394, Q157443]",[Q2439943],2004-01-23,Q145,Q1860,[Q84],NaN,NaN,NaN,[Q182154],NaN

In [7]:
joined = omdb_data.set_index('imdb_id').join(rt_data.set_index('imdb_id'),on='imdb_id')
joined = joined.join(wd_data_stars.set_index('imdb_id'), lsuffix='_joined', rsuffix='_wd', on='imdb_id')

In [8]:
joined

,omdb_genres,omdb_plot,omdb_awards,nominations,wins,audience_average,audience_percent,audience_ratings,critic_average,critic_percent,...,director,publication_date,country_of_origin,original_language,filming_location,based_on,made_profit,metacritic_id,main_subject,series
imdb_id,,,,,,,,,,,,,,,,,,,,,
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt5580036,Biography,Competitive ice skater Tonya Harding rises amo...,Nominated for 3 Oscars. Another 31 wins & 109 ...,112,31,4.0,88.0,10739.0,7.7,90.0,...,[Q3696452],2017-01-01,Q30,Q1860,NaN,NaN,1.0,NaN,NaN,NaN
tt5580036,Biography,Competitive ice skater Tonya Harding rises amo...,Nominated for 3 Oscars. Another 31 wins & 109 ...,112,31,4.0,88.0,10739.0,7.7,90.0,...,[Q3696452],2017-01-01,Q30,Q1860,NaN,NaN,1.0,NaN,NaN,NaN
tt5580036,Biography,Competitive ice skater Tonya Harding rises amo...,Nominated for 3 Oscars. Another 31 wins & 109 ...,112,31,4.0,88.0,10739.0,7.7,90.0,...,[Q3696452],2017-01-01,Q30,Q1860,NaN,NaN,1.0,NaN,NaN,NaN
tt5580036,Comedy,Competitive ice skater Tonya Harding rises amo...,Nominated for 3 Oscars. Another 31 wins & 109 ...,112,31,4.0,88.0,10739.0,7.7,90.0,...,[Q3696452],2017-01-01,Q30,Q1860,NaN,NaN,1.0,NaN,NaN,NaN
tt5580036,Comedy,Competitive ice skater Tonya Harding rises amo...,Nominated for 3 Oscars. Another 31 wins & 109 ...,112,31,4.0,88.0,10739.0,7.7,90.0,...,[Q3696452],2017-01-01,Q30,Q1860,NaN,NaN,1.0,NaN,NaN,NaN
tt5580036,Comedy,Competitive ice skater Tonya Harding rises amo...,Nominated for 3 Oscars. Another 31 wins & 109 ...,112,31,4.0,88.0,10739.0,7.7,90.0,...,[Q3696452],2017-01-01,Q30,Q1860,NaN,NaN,1.0,NaN,NaN,NaN
tt5580036,Comedy,Competitive ice skater Tonya Harding rises amo...,Nominated for 3 Oscars. Another 31 wins & 109 ...,112,31,4.0,88.0,10739.0,7.7,90.0,...,[Q3696452],2017-01-01,Q30,Q1860,NaN,NaN,1.0,NaN,NaN,NaN
tt5580036,Comedy,Competitive ice skater Tonya Harding rises amo...,Nominated for 3 Oscars. Another 31 wins & 109 ...,112,31,4.0,88.0,10739.0,7.7,90.0,...,[Q3696452],2017-01-01,Q30,Q1860,NaN,NaN,1.0,NaN,NaN,NaN
tt5580036,Comedy,Competitive ice skater Tonya Harding rises amo...,Nominated for 3 Oscars. Another 31 wins & 109 ...,112,31,4.0,88.0,10739.0,7.7,90.0,...,[Q3696452],2017-01-01,Q30,Q1860,NaN,NaN,1.0,NaN,NaN,NaN
tt5580036,Comedy,Competitive ice skater Tonya Harding rises amo...,Nominated for 3 Oscars. Another 31 wins & 109 ...,112,31,4.0,88.0,10739.0,7.7,90.0,...,[Q3696452],2017-01-01,Q30,Q1860,NaN,NaN,1.0,NaN,NaN,NaN
tt5580036,Drama,Competitive ice skater Tonya Harding rises amo...,Nominated for 3 Oscars. Another 31 wins & 109 ...,112,31,4.0,88.0,10739.0,7.7,90.0,...,[Q3696452],2017-01-01,Q30,Q1860,NaN,NaN,1.0,NaN,NaN,NaN
tt5580036,Drama,Competitive ice skater Tonya Harding rises amo...,Nominated for 3 Oscars. Another 31 wins & 109 ...,112,31,4.0,88.0,10739.0,7.7,90.0,...,[Q3696452],2017-01-01,Q30,Q1860,NaN,NaN,1.0,NaN,NaN,NaN
tt5580036,Drama,Competitive ice skater Tonya Harding rises amo...,Nominated for 3 Oscars. Another 31 wins & 109 ...,112,31,4.0,88.0,10739.0,7.7,90.0,...,[Q3696452],2017-01-01,Q30,Q1860,NaN,NaN,1.0,NaN,NaN,NaN
tt5580036,Drama,Competitive ice skater Tonya Harding rises amo...,Nominated for 3 Oscars. Another 31 wins & 109 ...,112,31,4.0,88.0,10739.0,7.7,90.0,...,[Q3696452],2017-01-01,Q30,Q1860,NaN,NaN,1.0,NaN,NaN,NaN
tt5580036,Drama,Competitive ice skater Tonya Harding rises amo...,Nominated for 3 Oscars. Another 31 wins & 109 ...,112,31,4.0,88.0,10739.0,7.7,90.0,...,[Q3696452],2017-01-01,Q30,Q1860,NaN,NaN,1.0,NaN,NaN,NaN
tt5580036,Drama,Competitive ice skater Tonya Harding rises amo...,Nominated for 3 Oscars. Another 31 wins & 109 ...,112,31,4.0,88.0,10739.0,7.7,90.0,...,[Q3696452],2017-01-01,Q30,Q1860,NaN,NaN,1.0,NaN,NaN,NaN
tt5580036,Drama,Competitive ice skater Tonya Harding rises amo...,Nominated for 3 Oscars. Another 31 wins & 109 ...,112,31,4.0,88.0,10739.0,7.7,90.0,...,[Q3696452],2017-01-01,Q30,Q1860,NaN,NaN,1.0,NaN,NaN,NaN
tt2244376,Drama,Plot: Bwakaw is a drama-comedy about growing o...,16 wins & 34 nominations.,34,16,4.2,91.0,47.0,NaN,NaN,...,[Q2870425],2012-01-01,Q928,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tt4986098,Sci-Fi,A military family takes part in a ground-break...,N/A,0,0,1.9,16.0,522.0,3.9,17.0,...,[Q16832817],2018-04-13,Q30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tt4986098,Sci-Fi,A military family takes part in a ground-break...,N/A,0,0,1.9,16.0,522.0,3.9,17.0,...,[Q16832817],2018-04-13,Q30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tt4986098,Sci-Fi,A military family takes part in a ground-break...,N/A,0,0,1.9,16.0,522.0,3.9,17.0,...,[Q16832817],2018-04-13,Q30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tt4986098,Sci-Fi,A military family takes part in a ground-break...,N/A,0,0,1.9,16.0,522.0,3.9,17.0,...,[Q16832817],2018-04-13,Q30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tt4986098,Sci-Fi,A military family takes part in a ground-break...,N/A,0,0,1.9,16.0,522.0,3.9,17.0,...,[Q16832817],2018-04-13,Q30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tt4986098,Sci-Fi,A military family takes part in a ground-break...,N/A,0,0,1.9,16.0,522.0,3.9,17.0,...,[Q16832817],2018-04-13,Q30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tt4986098,Thriller,A military family takes part in a ground-break...,N/A,0,0,1.9,16.0,522.0,3.9,17.0,...,[Q16832817],2018-04-13,Q30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tt4986098,Thriller,A military family takes part in a ground-break...,N/A,0,0,1.9,16.0,522.0,3.9,17.0,...,[Q16832817],2018-04-13,Q30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tt4986098,Thriller,A military family takes part in a ground-break...,N/A,0,0,1.9,16.0,522.0,3.9,17.0,...,[Q16832817],2018-04-13,Q30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tt4986098,Thriller,A military family takes part in a ground-break...,N/A,0,0,1.9,16.0,522.0,3.9,17.0,...,[Q16832817],2018-04-13,Q30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tt4986098,Thriller,A military family takes part in a ground-break...,N/A,0,0,1.9,16.0,522.0,3.9,17.0,...,[Q16832817],2018-04-13,Q30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tt4986098,Thriller,A military family takes part in a ground-break...,N/A,0,0,1.9,16.0,522.0,3.9,17.0,...,[Q16832817],2018-04-13,Q30,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
info = joined.reset_index()
#info = info[['audience_average', 'omdb_genres', 'cast_member', 'wins', 'nominations']]
#info = info[['audience_average', 'omdb_genres', 'cast_member']]
info = info[['audience_average', 'omdb_genres', 'wins', 'nominations']] #tried using cast_member, but ran into overfitting problems
info = info[info.audience_average.notnull()]
#info = info[info.cast_member.notnull()]
info = info[info.omdb_genres.notnull()]
info = info[info.omdb_genres != 'N/A']

#info = info[['audience_average', 'omdb_genres', 'audience_percent', 'audience_ratings', 'critic_average', 'critic_percent']]
#info = info[['audience_average', 'omdb_genres']]
#info=info[info.audience_average.notnull() & info.omdb_genres.notnull()]
#info=info[info.audience_percent.notnull() & info.audience_ratings.notnull()]
#info=info[info.critic_average.notnull() & info.critic_percent.notnull()]

#info = info[['audience_average', 'cast_member']]
#info=info[info.audience_average.notnull() & info.cast_member.notnull()]

In [10]:
info

        audience_average omdb_genres  wins  nominations
0                    3.5       Drama     0            4
1                    3.5       Drama     0            4
2                    3.5       Drama     0            4
3                    3.5       Drama     0            4
4                    3.5       Drama     0            4
...                  ...         ...   ...          ...
230628               1.9    Thriller     0            0
230629               1.9    Thriller     0            0
230630               1.9    Thriller     0            0
230631               1.9    Thriller     0            0
230632               1.9    Thriller     0            0

[216090 rows x 4 columns]

In [11]:
#One hot encoder example: https://medium.com/@contactsunny/label-encoder-vs-one-hot-encoder-in-machine-learning-3fc273365621
#Column Transforer source: https://datascience.stackexchange.com/questions/41113/deprecationwarning-the-categorical-features-keyword-is-deprecated-in-version

#Encoding the genres to binary

ct = ColumnTransformer(
    transformers=[('one_hot_encoder', OneHotEncoder(), [0])], #('one_hot_encoder2', OneHotEncoder(handle_unknown='ignore'), [1])],
    remainder='passthrough' 
)

#X = ct.fit_transform(X)

In [12]:
model = Pipeline(
        steps=[('col_trans',ct), ('lr', LinearRegression(fit_intercept=False))]
    )

X=info.drop(columns=['audience_average'],axis=1)
y=info['audience_average']

X_train, X_valid, y_train, y_valid = train_test_split(X,y)

model.fit(X_train, y_train)

print(model.score(X_train,y_train))
print(model.score(X_valid,y_valid))

0.17585985418801175
0.17240670824947724

In [13]:
""""#Looking only at actors
joined2 = joined.join(wd_data_stars.set_index('imdb_id'), lsuffix='_joined', rsuffix='_wd', on='imdb_id') #only include actors who starred in more than one movie
info = joined2.reset_index()
info = info[['audience_average', 'cast_member']]
info = info[info.audience_average.notnull()]
info = info[info.cast_member.notnull()]

X=info.drop(columns=['audience_average'],axis=1)
y=info['audience_average'].values

ct = ColumnTransformer(
    [('one_hot_encoder', OneHotEncoder(), [0])],
    remainder='passthrough' 
)

X = ct.fit_transform(X)

X_train, X_valid, y_train, y_valid = train_test_split(X,y)

model = make_pipeline(
        LinearRegression(fit_intercept=False)
    )

model.fit(X_train, y_train)

print(model.score(X_train,y_train))
print(model.score(X_valid,y_valid))"""

'"#Looking only at actors\njoined2 = joined.join(wd_data_stars.set_index(\'imdb_id\'), lsuffix=\'_joined\', rsuffix=\'_wd\', on=\'imdb_id\') #only include actors who starred in more than one movie\ninfo = joined2.reset_index()\ninfo = info[[\'audience_average\', \'cast_member\']]\ninfo = info[info.audience_average.notnull()]\ninfo = info[info.cast_member.notnull()]\n\nX=info.drop(columns=[\'audience_average\'],axis=1)\ny=info[\'audience_average\'].values\n\nct = ColumnTransformer(\n    [(\'one_hot_encoder\', OneHotEncoder(), [0])],\n    remainder=\'passthrough\' \n)\n\nX = ct.fit_transform(X)\n\nX_train, X_valid, y_train, y_valid = train_test_split(X,y)\n\nmodel = make_pipeline(\n        LinearRegression(fit_intercept=False)\n    )\n\nmodel.fit(X_train, y_train)\n\nprint(model.score(X_train,y_train))\nprint(model.score(X_valid,y_valid))'

In [14]:
""""#Looking only at award wins and nominations
omdb_data2=omdb_data[omdb_data.omdb_awards.notnull()]
omdb_data2=omdb_data2[omdb_data.omdb_awards!='N\A']

nominations_re = re.compile(r'Nominated for (\d+)')
nominations_re2 = re.compile(r'(\d+) nomination(s?)')
wins_re = re.compile(r'(\d+) win(s?)')
wins_re2 = re.compile(r'Won (\d+)')

def get_wins(txt):
    wins = 0
    wins1 = wins_re.search(txt)
    wins2 = wins_re2.search(txt)
    if wins1:
        wins = wins + int(wins1.group(1))
    if wins2:
        wins = wins + int(wins2.group(1))
    return wins

def get_nominations(txt):
    noms = 0
    nominations1 = nominations_re.search(txt)
    nominations2 = nominations_re2.search(txt)
    if nominations1:
        noms = noms + int(nominations1.group(1))
    if nominations2:
        noms = noms + int(nominations2.group(1))
    return noms

omdb_data2['nominations'] = omdb_data2['omdb_awards'].apply(get_nominations)
omdb_data2['wins'] = omdb_data2['omdb_awards'].apply(get_wins)

joined3 = omdb_data2.set_index('imdb_id').join(rt_data.set_index('imdb_id'),on='imdb_id')

info = joined3.reset_index()
info = info[['audience_average', 'wins', 'nominations']]
info = info[info.audience_average.notnull()]

X=info.drop(columns=['audience_average'],axis=1)
y=info['audience_average'].values

X_train, X_valid, y_train, y_valid = train_test_split(X,y)

model = make_pipeline(
        LinearRegression(fit_intercept=False)
    )

model.fit(X_train, y_train)

print(model.score(X_train,y_train))
print(model.score(X_valid,y_valid)) #Looking only at genres"""

'"#Looking only at award wins and nominations\nomdb_data2=omdb_data[omdb_data.omdb_awards.notnull()]\nomdb_data2=omdb_data2[omdb_data.omdb_awards!=\'N\\A\']\n\nnominations_re = re.compile(r\'Nominated for (\\d+)\')\nnominations_re2 = re.compile(r\'(\\d+) nomination(s?)\')\nwins_re = re.compile(r\'(\\d+) win(s?)\')\nwins_re2 = re.compile(r\'Won (\\d+)\')\n\ndef get_wins(txt):\n    wins = 0\n    wins1 = wins_re.search(txt)\n    wins2 = wins_re2.search(txt)\n    if wins1:\n        wins = wins + int(wins1.group(1))\n    if wins2:\n        wins = wins + int(wins2.group(1))\n    return wins\n\ndef get_nominations(txt):\n    noms = 0\n    nominations1 = nominations_re.search(txt)\n    nominations2 = nominations_re2.search(txt)\n    if nominations1:\n        noms = noms + int(nominations1.group(1))\n    if nominations2:\n        noms = noms + int(nominations2.group(1))\n    return noms\n\nomdb_data2[\'nominations\'] = omdb_data2[\'omdb_awards\'].apply(get_nominations)\nomdb_data2[\'wins\'] = omdb_data2[\'omdb_awards\'].apply(get_wins)\n\njoined3 = omdb_data2.set_index(\'imdb_id\').join(rt_data.set_index(\'imdb_id\'),on=\'imdb_id\')\n\ninfo = joined3.reset_index()\ninfo = info[[\'audience_average\', \'wins\', \'nominations\']]\ninfo = info[info.audience_average.notnull()]\n\nX=info.drop(columns=[\'audience_average\'],axis=1)\ny=info[\'audience_average\'].values\n\nX_train, X_valid, y_train, y_valid = train_test_split(X,y)\n\nmodel = make_pipeline(\n        LinearRegression(fit_intercept=False)\n    )\n\nmodel.fit(X_train, y_train)\n\nprint(model.score(X_train,y_train))\nprint(model.score(X_valid,y_valid)) #Looking only at genres'