In [1]:
#Jia Yi/Susan Wang

In [2]:
import pandas as pd
import numpy as np

In [3]:
data1 = pd.read_json('data/genres.json.gz', orient='record', lines=True, encoding='utf-8')

In [4]:
data1

     wikidata_id         genre_label
0      Q43334491             novella
1      Q42304051           cityscape
2      Q39894018    drama with music
3      Q47909472           lunar art
4      Q42922249  Tsukuri monogatari
...          ...                 ...
5554   Q26228231     cyberpunk novel
5555   Q26268098             Eastern
5556   Q26965555        hunting deck
5557   Q22349373              Lirico
5558   Q22669429           engraving

[5559 rows x 2 columns]

In [5]:
data2 = pd.read_json('data/omdb-data.json.gz', orient='record', lines=True, encoding='utf-8')

In [6]:
data2

,imdb_id,omdb_genres,omdb_plot,omdb_awards
0,tt0060814,"[Drama, History, War]","In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.
1,tt2379713,"[Action, Adventure, Thriller]",A cryptic message from the past sends James Bo...,Won 1 Oscar. Another 7 wins & 32 nominations.
2,tt0230575,"[Comedy, Horror]","The makers of this parody of ""Night of the Liv...",N/A
3,tt0065988,"[Adventure, Comedy, Drama]",Jack Crabb is 121 years old as the film begins...,Nominated for 1 Oscar. Another 5 wins & 8 nomi...
4,tt1995390,"[Crime, Drama, Thriller]","When Perry and his girlfriend, Gail, cross pat...",2 nominations.
5,tt0066921,"[Crime, Drama, Sci-Fi]","Protagonist Alex DeLarge is an ""ultraviolent"" ...",Nominated for 4 Oscars. Another 9 wins & 19 no...
6,tt1298650,"[Action, Adventure, Fantasy]",Captain Jack Sparrow (Depp) crosses paths with...,2 wins & 31 nominations.
7,tt0069947,"[Crime, Drama, Thriller]",It is the early 60s in France. The remaining s...,Nominated for 1 Oscar. Another 1 win & 10 nomi...
8,tt0116629,"[Action, Adventure, Sci-Fi]","On July 2nd, communications systems worldwide ...",Won 1 Oscar. Another 34 wins & 34 nominations.
9,tt0057012,"[Comedy, War]",Paranoid Brigadier General Jack D. Ripper of B...,Nominated for 4 Oscars. Another 13 wins & 7 no...
10,tt1568346,"[Crime, Drama, Mystery]",This English-language adaptation of the Swedis...,Won 1 Oscar. Another 27 wins & 90 nominations.
11,tt1504320,"[Biography, Comedy, Drama]",England's Prince Albert must ascend the throne...,Won 4 Oscars. Another 102 wins & 194 nominations.
12,tt0120737,"[Adventure, Drama, Fantasy]",An ancient Ring thought lost for centuries has...,Won 4 Oscars. Another 113 wins & 123 nominations.
13,tt0800080,"[Action, Adventure, Sci-Fi]",Depicting the events after the Gamma Bomb. 'Th...,1 win & 8 nominations.
14,tt1226229,"[Adventure, Comedy, Music]",English rock star Aldous Snow relapses into dr...,14 nominations.
15,tt2395427,"[Action, Adventure, Sci-Fi]",Tony Stark creates the Ultron Program to prote...,7 wins & 45 nominations.
16,tt0368891,"[Action, Adventure, Family]",Benjamin Franklin Gates descends from a family...,1 win & 9 nominations.
17,tt0057076,"[Action, Adventure, Thriller]",James Bond 007 is on the search for a Russian ...,Nominated for 1 Golden Globe. Another 3 wins &...
18,tt0371746,"[Action, Adventure, Sci-Fi]","Tony Stark. Genius, billionaire, playboy, phil...",Nominated for 2 Oscars. Another 20 wins & 65 n...
19,tt2381249,"[Action, Adventure, Thriller]",CIA chief Hunley (Baldwin) convinces a Senate ...,6 wins & 23 nominations.
20,tt0434409,"[Action, Drama, Sci-Fi]",Tells the story of Evey Hammond and her unlike...,7 wins & 27 nominations.
21,tt0816711,"[Action, Adventure, Horror]",Life for former United Nations investigator Ge...,3 wins & 24 nominations.
22,tt0241527,"[Adventure, Family, Fantasy]","This is the tale of Harry Potter, an ordinary ...",Nominated for 3 Oscars. Another 17 wins & 62 n...
23,tt0480249,"[Drama, Horror, Sci-Fi]",Robert Neville is a scientist who was unable t...,9 wins & 22 nominations.
24,tt0115956,"[Action, Drama, Mystery]","The pilot of a rescue copter, Captain Karen Wa...",9 wins & 7 nominations.
25,tt1194173,"[Action, Adventure, Mystery]",The events in this movie take place around the...,1 win & 11 nominations.
26,tt2872732,"[Action, Sci-Fi, Thriller]",It was supposed to be a simple job. All Lucy h...,1 win & 11 nominations.
27,tt0383574,"[Action, Adventure, Fantasy]",Once again we're plunged into the world of swo...,Won 1 Oscar. Another 42 wins & 53 nominations.
28,tt0102926,"[Crime, Drama, Thriller]",FBI trainee Clarice Starling works hard to adv...,Won 5 Oscars. Another 54 wins & 44 nominations.
29,tt0064757,"[Action, Adventure, Thriller]",George Lazenby steps into the role of James Bo...,Nominated for 1 Golden Globe. Another 1 win & ...
...,...,...,...,...
9646,tt0369738,"[Action, Drama]",A retired Diplomat and an NYPD Detective seeki...,N/A
9647,tt3469798,"[Drama, Romance, Sci-Fi]",Helena is a young girl who spent all her life ...,2 nominations.
9648,tt0432348,"[Horror, Mystery]",When detective Eric Matthews is called to a cr...,4 wins & 8 nominations.
9649,tt0220570,[Drama],The story is about a stripper's relationships ...,2 wins.
9650,tt0029855,"[Drama, Mystery, Romance]","Pepe Le Moko, a thief who escaped from France ...",Nominated for 4 Oscars. Another 1 win & 1 nomi...
9651,tt0299422,[Comedy],A dark comedy about three salesmen from Detroi...,1 win.
9652,tt0387564,"[Crime, Horror, Mystery]",Waking up in a undisclosed location in a unkno...,8 wins & 10 nominations.
9653,tt1821362,[Comedy],Two black brothers send back to slavery time,N/A
9654,tt3276924,"[Action, Crime, Thriller]",When their attempt to rob a casino owned by th...,N/A
9655,tt3805180,"[Comedy, Crime]",Tim and Dan - fellow losers from a provincial ...,N/A
9656,tt0092033,[Drama],"Sharda, a nurse and single mother, raises her ...",N/A
9657,tt0120514,"[Biography, Drama, Romance]","The story of Oscar Wilde, genius, poet, playwr...",Nominated for 1 Golden Globe. Another 4 wins &...
9658,tt0078870,"[Adventure, Comedy]",A rediscovered classic from director Ken Loach...,1 win & 1 nomination.
9659,tt1819769,[Drama],Ray enrolls in art school where he makes new f...,N/A
9660,tt0087313,"[Comedy, Drama]",Estelle is a one-person protest army: she goes...,N/A
9661,tt2318405,"[Action, Adventure, Fantasy]","In WW2, after a tank battle, a wounded Soviet ...",4 wins & 7 nominations.
9662,tt0254617,"[Comedy, Romance]",A young woman is in Orlando visiting her ailin...,N/A
9663,tt0266489,[Comedy],Alex Rose and Nancy Kendricks are a young coup...,2 nominations.
9664,tt0280962,"[Crime, Horror, Romance]",A terrifying love triangle. An original twist ...,4 wins & 2 nominations.
9665,tt0298491,"[Drama, Fantasy, Thriller]","Nicklas lives a pretty normal teenage life, un...",10 wins & 3 nominations.
9666,tt0978702,[Drama],"Raghavendra, Vishnu, Chinna, and Vamsi are bro...",N/A
9667,tt0096219,[Drama],An acerbic radio talk show host based in Dalla...,3 wins & 5 nominations.
9668,tt1986994,"[Fantasy, Horror, Thriller]","""Season of the Equinox, the witch besets her k...",N/A
9669,tt1183487,[Drama],Colin Mc Nally couldn't give a toss about the ...,5 wins.
9670,tt0113101,[Comedy],This movie features the collaborative director...,1 win & 1 nomination.
9671,tt0052365,"[Action, Adventure]",Einar and Eric are two Viking half-brothers. T...,2 wins & 1 nomination.
9672,tt0088099,"[Comedy, Drama, Romance]",In lieu of love and affections from his multi-...,2 wins & 1 nomination.
9673,tt5580036,"[Biography, Comedy, Drama]",Competitive ice skater Tonya Harding rises amo...,Nominated for 3 Oscars. Another 31 wins & 109 ...
9674,tt2244376,[Drama],Plot: Bwakaw is a drama-comedy about growing o...,16 wins & 34 nominations.
9675,tt4986098,"[Sci-Fi, Thriller]",A military family takes part in a ground-break...,N/A

In [7]:
data3 = pd.read_json('data/rotten-tomatoes.json.gz', orient='record', lines=True, encoding='utf-8')

In [8]:
data3

,audience_average,audience_percent,audience_ratings,critic_average,critic_percent,imdb_id,rotten_tomatoes_id
0,3.9,86.0,33125227.0,7.1,79.0,tt0325980,m/pirates_of_the_caribbean_the_curse_of_the_bl...
1,4.1,80.0,2139.0,7.8,88.0,tt4882376,m/first_they_killed_my_father_a_daughter_of_ca...
2,3.6,71.0,11482.0,7.6,86.0,tt0099763,m/henry_portrait_of_a_serial_killer
3,3.6,66.0,187204.0,6.6,66.0,tt1371111,m/cloud_atlas_2012
4,3.9,84.0,26836.0,7.4,80.0,tt1189073,m/the_skin_i_live_in
5,3.7,74.0,1498.0,7.0,88.0,tt1787725,m/if_a_tree_falls_a_story_of_the_earth_liberat...
6,3.6,85.0,92824.0,6.6,73.0,tt0117665,m/1073595-sleepers
7,3.2,50.0,242347.0,4.9,35.0,tt1611224,m/abraham_lincoln_vampire_hunter
8,4.0,87.0,427.0,7.4,100.0,tt3966544,m/lost_soul_the_doomed_journey_of_richard_stan...
9,3.7,74.0,260776.0,7.4,85.0,tt0780521,m/1196003-princess_and_the_frog
10,3.3,51.0,241740.0,4.3,30.0,tt1855325,m/resident_evil_retribution
11,3.2,66.0,46826.0,7.3,85.0,tt0115956,m/courage_under_fire
12,3.4,69.0,23375.0,7.4,90.0,tt0068555,m/everything_you_always_wanted_to_know_about_s...
13,3.5,54.0,199136.0,5.0,32.0,tt1298650,m/pirates_of_the_caribbean_on_stranger_tides
14,3.3,57.0,109.0,NaN,NaN,tt0230575,m/night_of_the_day_of_the_dawn_of_the_son_of_t...
15,3.3,64.0,188527.0,5.5,38.0,tt0328880,m/brother_bear
16,4.3,92.0,279153.0,7.6,89.0,tt1843866,m/captain_america_the_winter_soldier_2014
17,3.6,63.0,304.0,7.1,83.0,tt1931549,m/the_man_nobody_knew_in_search_of_my_father_c...
18,3.2,46.0,480.0,4.9,45.0,tt1979172,m/a_liars_autobiography_the_untrue_story_of_mo...
19,3.4,80.0,140836.0,7.6,84.0,tt0311113,m/master_and_commander_the_far_side_of_the_world
20,4.2,89.0,138111.0,7.4,86.0,tt1659337,m/perks_of_being_a_wallflower
21,3.5,58.0,37565.0,5.7,60.0,tt1698641,m/alexander_and_the_terrible_horrible_no_good_...
22,3.4,74.0,266365.0,6.2,57.0,tt0396171,m/perfume_the_story_of_a_murderer
23,2.8,34.0,7246.0,5.0,55.0,tt1659343,m/universal_soldier_day_of_reckoning
24,3.1,61.0,34104919.0,6.9,76.0,tt0363771,m/chronicles_of_narnia_lion_witch_wardrobe
25,4.0,93.0,435893.0,8.4,89.0,tt0066921,m/clockwork_orange
26,3.4,73.0,70542.0,6.0,74.0,tt0105112,m/patriot_games
27,4.0,91.0,336264.0,8.5,90.0,tt0083658,m/Blade_Runner
28,3.8,89.0,297648.0,9.2,92.0,tt0062622,m/1000085-2001_a_space_odyssey
29,3.3,60.0,4949.0,4.7,22.0,tt0409034,m/marilyn_hotchkiss_ballroom_dancing_and_charm...
...,...,...,...,...,...,...,...
40200,4.6,100.0,20.0,NaN,NaN,tt3037570,m/alt
40201,3.2,56.0,1354.0,6.8,100.0,tt0042644,m/kim
40202,3.3,64.0,290.0,NaN,NaN,tt0116844,m/lea
40203,NaN,NaN,13.0,NaN,NaN,tt0099890,m/jit
40204,NaN,NaN,1.0,NaN,NaN,tt0264210,m/zor
40205,NaN,NaN,2.0,NaN,NaN,tt0340280,m/out
40206,3.2,40.0,185.0,NaN,NaN,tt0088781,m/beer
40207,3.8,79.0,366.0,NaN,NaN,tt0150980,m/hanyo
40208,3.0,52.0,16432.0,4.0,10.0,tt0084809,m/toy
40209,3.0,62.0,5393.0,3.5,10.0,tt0120531,m/woo
40210,3.7,60.0,68.0,NaN,NaN,tt0262196,m/19
40211,3.7,79.0,4304.0,5.8,57.0,tt0250638,m/ptu
40212,NaN,NaN,8.0,NaN,NaN,tt1215486,m/tug
40213,3.9,88.0,1703.0,7.5,92.0,tt0116589,m/hype
40214,3.3,67.0,790.0,5.1,22.0,tt0077532,m/fm
40215,3.6,73.0,66.0,NaN,NaN,tt1452297,m/poll
40216,3.7,61.0,324.0,NaN,NaN,tt0091507,m/melo
40217,3.0,38.0,8538.0,NaN,NaN,tt0385560,m/boo
40218,3.1,64.0,37580.0,5.0,53.0,tt0110638,m/nell
40219,NaN,NaN,52.0,NaN,NaN,tt0105712,m/utz
40220,3.4,63.0,1149.0,6.4,86.0,tt0065916,m/joe
40221,3.4,68.0,2061.0,5.6,50.0,tt0098442,m/tap
40222,3.4,53.0,770.0,NaN,NaN,tt0364146,m/105
40223,2.4,20.0,224.0,NaN,NaN,tt1261041,m/222
40224,4.1,90.0,7841.0,7.7,89.0,tt0388888,m/dig
40225,3.6,69.0,2350.0,NaN,NaN,tt0099429,m/dil
40226,4.3,70.0,118.0,NaN,NaN,tt1053792,m/41
40227,3.8,84.0,309.0,NaN,NaN,tt0088658,m/ak
40228,2.9,53.0,14648.0,6.4,68.0,tt0078721,m/10
40229,NaN,NaN,0.0,NaN,NaN,tt2779840,m/916

In [9]:
data4 = pd.read_json('data/wikidata-movies.json.gz', orient='record', lines=True, encoding='utf-8')

In [10]:
data4

,wikidata_id,label,imdb_id,rotten_tomatoes_id,enwiki_title,genre,director,cast_member,publication_date,country_of_origin,original_language,filming_location,based_on,made_profit,metacritic_id,main_subject,series
0,Q43079072,If I Were You,tt1587309,m/if_i_were_you_2012,If I Were You (2012 Canadian film),[Q859369],[Q43079418],"[Q228931, Q235384]",2012-01-01,Q145,Q1860,NaN,NaN,NaN,NaN,NaN,NaN
1,Q43302269,Krampus: The Devil Returns,tt3527772,m/krampus_the_devil_returns,Krampus: The Devil Returns,[Q28026639],NaN,NaN,2016-10-04,Q30,Q1860,NaN,NaN,NaN,NaN,NaN,NaN
2,Q43400054,NaN,tt6462462,m/le_brio,Le Brio,[Q157443],[Q724208],"[Q106303, Q467957, Q3345693, Q3340838, Q316419...",2017-01-01,Q142,Q150,[Q50742],NaN,NaN,NaN,NaN,NaN
3,Q43401863,A Christmas Prince,tt7608418,m/a_christmas_prince,A Christmas Prince,"[Q860626, Q28026639]",[Q4718041],NaN,2017-11-17,Q30,Q1860,NaN,NaN,NaN,NaN,NaN,NaN
4,Q41850450,Pengabdi Setan,tt7076834,m/satans_slaves,Pengabdi Setan (2017 film),[Q200092],[Q11036795],NaN,2017-01-01,Q252,Q9240,NaN,Q7162696,NaN,NaN,NaN,NaN
5,Q42048906,A Small Town Called Descent,tt3726330,m/a_small_town_called_descent,A Small Town Called Descent,[Q959790],NaN,NaN,2010-07-24,Q258,Q1860,NaN,NaN,NaN,NaN,NaN,NaN
6,Q42577704,Orbiter 9,tt3469798,m/orbiter_9,Orbiter 9,"[Q24925, Q21010853]",[Q51892574],"[Q5126010, Q3390414, Q5676024, Q237021]",2017-04-07,Q29,NaN,NaN,NaN,0.0,NaN,NaN,NaN
7,Q47461695,The Kindergarten Teacher,tt6952960,m/the_kindergarten_teacher_2018,The Kindergarten Teacher (2018 film),[Q130232],[Q18608206],"[Q202381, Q7367121, Q179576, Q20630818, Q28474...",2018-01-01,Q30,Q1860,NaN,Q18214949,NaN,NaN,NaN,NaN
8,Q47483224,Who the Fuck is That Guy? The Fabulous Journey...,tt4958390,m/who_the_fk_is_that_guy_the_fabulous_journey_...,Who the Fuck Is That Guy? The Fabulous Journey...,[Q93204],[Q22073902],NaN,2017-07-21,Q30,Q1860,NaN,NaN,NaN,NaN,NaN,NaN
9,Q42048757,The Black Dove,tt1844790,m/the_black_dove,The Black Dove,[Q130232],NaN,NaN,2012-04-19,Q30,Q1860,NaN,NaN,NaN,NaN,NaN,NaN
10,Q42289722,Acts of Vengeance,tt6288694,m/acts_of_vengeance,Acts of Vengeance (film),[Q188473],[Q768543],"[Q41548, Q15712136, Q1104856]",2017-01-01,Q219,Q1860,NaN,NaN,NaN,movie/acts-of-vengeance,NaN,NaN
11,Q42531215,OtherLife,tt4693358,m/otherlife,OtherLife,"[Q471839, Q2484376]",NaN,NaN,2017-06-16,Q408,Q1860,NaN,NaN,NaN,NaN,NaN,NaN
12,Q42843713,Bullet Head,tt6204340,m/bullet_head,Bullet Head,"[Q959790, Q182015]",[Q15439821],"[Q41548, Q104514, Q172261, Q431038]",2017-01-01,Q219,Q1860,NaN,NaN,NaN,movie/bullet-head,NaN,NaN
13,Q41493467,The Equalizer 2,tt3766354,m/the_equalizer_2,The Equalizer 2,"[Q2484376, Q188473]",[Q465139],[Q42101],2018-08-30,Q30,Q1860,NaN,NaN,NaN,NaN,NaN,NaN
14,Q47524071,Hereditary,tt7784604,m/hereditary,Hereditary (film),[Q200092],NaN,"[Q229291, Q296616, Q940891, Q2558129, Q19661737]",2018-01-21,Q30,Q1860,NaN,NaN,NaN,movie/hereditary,NaN,NaN
15,Q39073994,Scaffolding,tt6253214,m/scaffolding_2017,Scaffolding (film),[Q130232],[Q30330304],NaN,2017-05-20,Q801,Q9288,NaN,NaN,NaN,NaN,NaN,NaN
16,Q47461687,Monsters and Men,tt7689906,m/monsters_and_men,Monsters and Men,[Q130232],[Q27044648],"[Q4120019, Q20973952, Q29622423, Q27044068, Q3...",2018-01-01,Q30,Q1860,NaN,NaN,NaN,NaN,NaN,NaN
17,Q47472042,Heroin(e),tt7389366,m/heroin,Heroin(e),[Q93204],[Q47493288],NaN,2017-01-01,Q30,Q1860,NaN,NaN,NaN,NaN,NaN,NaN
18,Q38888554,Monster Family,tt6572702,m/happy_family_2017,Monster Family,"[Q28968258, Q224700]",[Q8670824],NaN,2017-08-24,Q183,Q1860,NaN,NaN,NaN,movie/monster-family,NaN,NaN
19,Q38905900,The Choice,tt0065879,m/alikhtiyar_the_choice,The Choice (1970 film),[Q130232],[Q312611],"[Q254274, Q12225006, Q12249859, Q4165417, Q309...",1970-01-01,Q79,Q13955,NaN,NaN,NaN,NaN,NaN,NaN
20,Q39049013,Euthanizer,tt6505968,m/euthanizer,Euthanizer,"[Q157443, Q53094]",[Q11896737],"[Q16989565, Q16991279]",2017-09-07,Q33,Q1412,NaN,NaN,NaN,movie/euthanizer,NaN,NaN
21,Q39071331,Goth,tt0366530,m/goth,Goth (2003 film),[Q2484376],[Q4954299],[Q186744],2003-01-01,Q30,Q1860,NaN,NaN,NaN,NaN,NaN,NaN
22,Q39073873,Outside In,tt7260048,m/outside_in_2017,Outside In (film),[Q130232],[Q420041],NaN,2017-09-08,Q30,Q1860,NaN,NaN,NaN,NaN,NaN,NaN
23,Q46965329,The Toys That Made Us,tt7053920,tv/the_toys_that_made_us,The Toys That Made Us,[Q4164344],NaN,NaN,NaN,Q30,Q1860,NaN,NaN,NaN,NaN,NaN,NaN
24,Q47088341,Andron,tt4073890,m/andron,Andron (film),[Q471839],NaN,"[Q170572, Q192165]",2015-11-08,Q145,Q1860,NaN,NaN,NaN,NaN,NaN,NaN
25,Q46997522,A Gray State,tt6794380,m/a_gray_state,A Gray State,[Q93204],NaN,NaN,2017-04-01,Q30,NaN,NaN,NaN,NaN,movie/a-gray-state,NaN,NaN
26,Q47349198,Cuba and the Cameraman,tt7320560,m/cuba_and_the_cameraman,Cuba and the Cameraman,[Q93204],[Q6270284],NaN,2017-01-01,Q30,NaN,NaN,NaN,NaN,movie/cuba-and-the-cameraman,NaN,NaN
27,Q47445594,Rip Tide,tt6262764,m/rip_tide_2017,Rip Tide (film),[Q1361932],NaN,[Q204005],2017-01-01,Q408,Q1860,NaN,NaN,NaN,NaN,NaN,NaN
28,Q47461719,"Juliet, Naked",tt5607096,m/juliet_naked,"Juliet, Naked (film)",[Q859369],[Q3177627],"[Q228717, Q484615, Q933129]",2018-01-01,Q30,Q1860,NaN,Q1128242,NaN,NaN,NaN,NaN
29,Q47438673,Dangerous Intentions,tt0112791,m/dangerous_intentions,Dangerous Intentions,[Q130232],[Q933052],[Q3195081],1995-01-01,Q30,Q1860,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40400,Q23013169,The LEGO Batman Movie,tt4116284,m/the_lego_batman_movie,The Lego Batman Movie,"[Q157443, Q202866, Q1535153]",[Q20676250],NaN,2017-02-09,Q30,Q1860,NaN,NaN,NaN,movie/the-lego-batman-movie,NaN,Q2111133
40401,Q23013681,Kill Time,tt5541542,m/kill_time,Kill Time (film),[Q959790],[Q704027],NaN,2016-02-14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40402,Q23016644,Baby Driver,tt3890160,m/baby_driver,Baby Driver,"[Q1788980, Q157443, Q319221]",[Q522057],"[Q13426679, Q25144, Q13217306, Q362616, Q31310...",2017-06-30,Q145,Q1860,NaN,NaN,NaN,movie/baby-driver,NaN,NaN
40403,Q23035769,The Discovery,tt5155780,m/the_discovery_2016,The Discovery (film),"[Q471839, Q1054574]",[Q21872603],"[Q228766, Q202304, Q59215, Q254947, Q1138674, ...",2017-01-01,Q30,Q1860,NaN,NaN,NaN,movie/the-discovery,NaN,NaN
40404,Q23047125,The sleeper by the river,tt5279722,m/la_dormeuse_duval,La Dormeuse Duval,[Q157443],[Q19628629],"[Q38554, Q3293174, Q3021819]",2017-02-08,Q142,Q150,NaN,NaN,NaN,NaN,NaN,NaN
40405,Q23058503,Corbo,tt3924798,m/corbo,Corbo (film),[Q130232],[Q28233390],NaN,2014-09-04,Q16,Q150,NaN,NaN,NaN,NaN,NaN,NaN
40406,Q23301831,"Kiki, el amor se hace",tt4922692,m/kiki_love_to_love_2016,"Kiki, Love to Love",[Q860626],[Q3621855],"[Q3621855, Q5673824, Q16298722, Q2889975, Q250...",2016-01-01,Q29,Q1321,NaN,NaN,NaN,NaN,NaN,NaN
40407,Q23305740,Brother Outsider,tt0337902,m/brother_outsider_the_life_of_bayard_rustin,Brother Outsider,[Q20442589],NaN,NaN,2003-01-01,Q30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40408,Q23564932,Fog in August,tt4250566,m/nebel_im_august,Fog in August,[Q130232],[Q1573078],[Q63187],2016-09-29,Q183,Q188,NaN,NaN,NaN,NaN,NaN,NaN
40409,Q23647134,Precious Cargo,tt4651410,m/precious_cargo_2016,Precious Cargo (film),"[Q959790, Q130232]",[Q6794687],"[Q719330, Q2680, Q40228, Q115932]",2016-04-22,Q30,Q33673,NaN,NaN,NaN,NaN,NaN,NaN
40410,Q23647155,Teenage Cocktail,tt1774591,m/teenage_cocktail,Teenage Cocktail,"[Q130232, Q20442589]",NaN,[Q13560265],2016-03-12,Q30,Q1860,NaN,NaN,NaN,NaN,NaN,NaN
40411,Q23647188,When Elephants Were Young,tt2101347,m/when_elephants_were_young,When Elephants Were Young,"[Q93204, Q319221, Q130232, Q1361932]",[Q24671778],NaN,2015-12-05,Q16,Q1860,NaN,NaN,NaN,NaN,NaN,NaN
40412,Q23685878,Shazam!,tt0448115,m/shazam,Shazam! (film),"[Q188473, Q1535153, Q157394]",[Q16775487],"[Q42833024, Q139638, Q312712, Q16202598, Q5591...",2019-04-05,Q30,Q1860,[Q172],Q534153,NaN,NaN,NaN,Q18281265
40413,Q23707696,Pandemic,tt3774802,m/771436221,Pandemic (film),[Q188473],NaN,"[Q140181, Q552026, Q464744, Q3368538, Q233786,...",2016-01-01,Q30,Q1860,NaN,NaN,NaN,movie/pandemic,NaN,NaN
40414,Q23711369,Death by death,tt3407236,m/death_by_death,Death by Death,"[Q859369, Q157443]",[Q23711374],"[Q23711375, Q658160, Q17350573, Q3479511]",2016-01-01,Q31,Q150,NaN,NaN,NaN,NaN,NaN,NaN
40415,Q23755390,Forbidden Sins,tt0171326,m/forbidden_sins,Forbidden Sins,[Q2439025],NaN,NaN,NaN,Q30,Q1860,NaN,NaN,NaN,NaN,NaN,NaN
40416,Q23755403,Office Christmas Party,tt1711525,m/office_christmas_party,Office Christmas Party,"[Q157443, Q28026639]","[Q22323567, Q8003113]","[Q32522, Q1148822, Q284636, Q236475, Q723057, ...",2016-12-08,Q30,Q1860,NaN,NaN,NaN,movie/office-christmas-party,NaN,NaN
40417,Q23755410,The Happy Sad,tt2049559,m/the_happy_sad_2013,The Happy Sad,[Q20442589],[Q7356958],NaN,NaN,Q30,Q1860,NaN,NaN,NaN,movie/the-happy-sad,NaN,NaN
40418,Q23755497,The Meyerowitz Stories,tt5536736,m/the_meyerowitz_stories,The Meyerowitz Stories,[Q859369],[Q459349],"[Q132952, Q47100, Q168724, Q42930, Q76877, Q10...",2017-05-01,Q30,Q1860,NaN,NaN,NaN,movie/the-meyerowitz-stories,NaN,NaN
40419,Q23755515,Bolshoi Babylon,tt3505682,m/bolshoi_babylon,Bolshoi Babylon,[Q93204],"[Q25529450, Q25529490]",NaN,2015-01-01,Q145,Q1860,NaN,NaN,NaN,movie/bolshoi-babylon,NaN,NaN
40420,Q23755616,My Beautiful Broken Brain,tt3815136,m/my_beautiful_broken_brain,My Beautiful Broken Brain,[Q93204],NaN,NaN,2014-01-01,Q145,Q1860,NaN,NaN,NaN,NaN,NaN,NaN
40421,Q23793868,Voices from Chernobyl,tt3969688,m/voices_from_chernobyl,Voices from Chernobyl (film),"[Q93204, Q17013749, Q1257444]",[Q337283],[Q3028270],2016-01-01,Q32,Q150,NaN,Q7939693,NaN,NaN,NaN,NaN
40422,Q23797161,The Waiting,tt2262315,m/the_waiting_2016,The Good Neighbor (film),[Q9503],[Q26904302],"[Q95043, Q128828, Q235503, Q2392907, Q236918, ...",2016-01-01,Q30,Q1860,NaN,NaN,NaN,movie/the-good-neighbor,NaN,NaN
40423,Q23823612,Sieranevada,tt4466490,m/sieranevada,Sieranevada,[Q130232],[Q1140264],"[Q12735604, Q15915101]",2016-01-01,Q218,Q7913,NaN,NaN,NaN,movie/sieranevada,NaN,NaN
40424,Q23838395,Toni Erdmann,tt4048272,m/toni_erdmann,Toni Erdmann,"[Q130232, Q157443]",[Q91508],"[Q1300467, Q70003, Q1929867, Q15434360, Q11956...",2016-05-14,Q183,Q188,NaN,NaN,NaN,movie/toni-erdmann,NaN,NaN
40425,Q23838435,The Happiest Day in the Life of Olli Mäki,tt4771932,m/the_happiest_day_in_the_life_of_olli_maki_2016,The Happiest Day in the Life of Olli Mäki,[Q130232],[Q18632044],"[Q5475290, Q3742898]",2016-05-19,Q33,Q1412,NaN,NaN,NaN,movie/the-happiest-day-in-the-life-of-olli-maki,NaN,NaN
40426,Q23838477,The Pistol Shrimps,tt5563100,m/pistol_shrimps,The Pistol Shrimps,[Q93204],[Q16223670],NaN,2016-01-01,Q30,Q1860,[Q65],NaN,NaN,NaN,NaN,NaN
40427,Q23848755,The Banksy Job,tt4406572,m/the_banksy_job_2016,The Banksy Job,[Q93204],"[Q24662017, Q24662021]",NaN,2016-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40428,Q23899905,In Jackson Heights,tt4936064,m/in_jackson_heights,In Jackson Heights,[Q93204],[Q1361201],NaN,2015-09-04,Q30,Q1860,NaN,NaN,NaN,movie/in-jackson-heights,NaN,NaN
40429,Q23899915,The McMasters,tt0064649,m/the_mcmasters,The McMasters,[Q172980],[Q518995],[Q315723],1970-01-01,Q30,Q1860,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
data2.explode('omdb_genres')

,imdb_id,omdb_genres,omdb_plot,omdb_awards
0,tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.
0,tt0060814,History,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.
0,tt0060814,War,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.
1,tt2379713,Action,A cryptic message from the past sends James Bo...,Won 1 Oscar. Another 7 wins & 32 nominations.
1,tt2379713,Adventure,A cryptic message from the past sends James Bo...,Won 1 Oscar. Another 7 wins & 32 nominations.
1,tt2379713,Thriller,A cryptic message from the past sends James Bo...,Won 1 Oscar. Another 7 wins & 32 nominations.
2,tt0230575,Comedy,"The makers of this parody of ""Night of the Liv...",N/A
2,tt0230575,Horror,"The makers of this parody of ""Night of the Liv...",N/A
3,tt0065988,Adventure,Jack Crabb is 121 years old as the film begins...,Nominated for 1 Oscar. Another 5 wins & 8 nomi...
3,tt0065988,Comedy,Jack Crabb is 121 years old as the film begins...,Nominated for 1 Oscar. Another 5 wins & 8 nomi...
3,tt0065988,Drama,Jack Crabb is 121 years old as the film begins...,Nominated for 1 Oscar. Another 5 wins & 8 nomi...
4,tt1995390,Crime,"When Perry and his girlfriend, Gail, cross pat...",2 nominations.
4,tt1995390,Drama,"When Perry and his girlfriend, Gail, cross pat...",2 nominations.
4,tt1995390,Thriller,"When Perry and his girlfriend, Gail, cross pat...",2 nominations.
5,tt0066921,Crime,"Protagonist Alex DeLarge is an ""ultraviolent"" ...",Nominated for 4 Oscars. Another 9 wins & 19 no...
5,tt0066921,Drama,"Protagonist Alex DeLarge is an ""ultraviolent"" ...",Nominated for 4 Oscars. Another 9 wins & 19 no...
5,tt0066921,Sci-Fi,"Protagonist Alex DeLarge is an ""ultraviolent"" ...",Nominated for 4 Oscars. Another 9 wins & 19 no...
6,tt1298650,Action,Captain Jack Sparrow (Depp) crosses paths with...,2 wins & 31 nominations.
6,tt1298650,Adventure,Captain Jack Sparrow (Depp) crosses paths with...,2 wins & 31 nominations.
6,tt1298650,Fantasy,Captain Jack Sparrow (Depp) crosses paths with...,2 wins & 31 nominations.
7,tt0069947,Crime,It is the early 60s in France. The remaining s...,Nominated for 1 Oscar. Another 1 win & 10 nomi...
7,tt0069947,Drama,It is the early 60s in France. The remaining s...,Nominated for 1 Oscar. Another 1 win & 10 nomi...
7,tt0069947,Thriller,It is the early 60s in France. The remaining s...,Nominated for 1 Oscar. Another 1 win & 10 nomi...
8,tt0116629,Action,"On July 2nd, communications systems worldwide ...",Won 1 Oscar. Another 34 wins & 34 nominations.
8,tt0116629,Adventure,"On July 2nd, communications systems worldwide ...",Won 1 Oscar. Another 34 wins & 34 nominations.
8,tt0116629,Sci-Fi,"On July 2nd, communications systems worldwide ...",Won 1 Oscar. Another 34 wins & 34 nominations.
9,tt0057012,Comedy,Paranoid Brigadier General Jack D. Ripper of B...,Nominated for 4 Oscars. Another 13 wins & 7 no...
9,tt0057012,War,Paranoid Brigadier General Jack D. Ripper of B...,Nominated for 4 Oscars. Another 13 wins & 7 no...
10,tt1568346,Crime,This English-language adaptation of the Swedis...,Won 1 Oscar. Another 27 wins & 90 nominations.
10,tt1568346,Drama,This English-language adaptation of the Swedis...,Won 1 Oscar. Another 27 wins & 90 nominations.
...,...,...,...,...
9661,tt2318405,Action,"In WW2, after a tank battle, a wounded Soviet ...",4 wins & 7 nominations.
9661,tt2318405,Adventure,"In WW2, after a tank battle, a wounded Soviet ...",4 wins & 7 nominations.
9661,tt2318405,Fantasy,"In WW2, after a tank battle, a wounded Soviet ...",4 wins & 7 nominations.
9662,tt0254617,Comedy,A young woman is in Orlando visiting her ailin...,N/A
9662,tt0254617,Romance,A young woman is in Orlando visiting her ailin...,N/A
9663,tt0266489,Comedy,Alex Rose and Nancy Kendricks are a young coup...,2 nominations.
9664,tt0280962,Crime,A terrifying love triangle. An original twist ...,4 wins & 2 nominations.
9664,tt0280962,Horror,A terrifying love triangle. An original twist ...,4 wins & 2 nominations.
9664,tt0280962,Romance,A terrifying love triangle. An original twist ...,4 wins & 2 nominations.
9665,tt0298491,Drama,"Nicklas lives a pretty normal teenage life, un...",10 wins & 3 nominations.
9665,tt0298491,Fantasy,"Nicklas lives a pretty normal teenage life, un...",10 wins & 3 nominations.
9665,tt0298491,Thriller,"Nicklas lives a pretty normal teenage life, un...",10 wins & 3 nominations.
9666,tt0978702,Drama,"Raghavendra, Vishnu, Chinna, and Vamsi are bro...",N/A
9667,tt0096219,Drama,An acerbic radio talk show host based in Dalla...,3 wins & 5 nominations.
9668,tt1986994,Fantasy,"""Season of the Equinox, the witch besets her k...",N/A
9668,tt1986994,Horror,"""Season of the Equinox, the witch besets her k...",N/A
9668,tt1986994,Thriller,"""Season of the Equinox, the witch besets her k...",N/A
9669,tt1183487,Drama,Colin Mc Nally couldn't give a toss about the ...,5 wins.
9670,tt0113101,Comedy,This movie features the collaborative director...,1 win & 1 nomination.
9671,tt0052365,Action,Einar and Eric are two Viking half-brothers. T...,2 wins & 1 nomination.
9671,tt0052365,Adventure,Einar and Eric are two Viking half-brothers. T...,2 wins & 1 nomination.
9672,tt0088099,Comedy,In lieu of love and affections from his multi-...,2 wins & 1 nomination.
9672,tt0088099,Drama,In lieu of love and affections from his multi-...,2 wins & 1 nomination.
9672,tt0088099,Romance,In lieu of love and affections from his multi-...,2 wins & 1 nomination.
9673,tt5580036,Biography,Competitive ice skater Tonya Harding rises amo...,Nominated for 3 Oscars. Another 31 wins & 109 ...
9673,tt5580036,Comedy,Competitive ice skater Tonya Harding rises amo...,Nominated for 3 Oscars. Another 31 wins & 109 ...
9673,tt5580036,Drama,Competitive ice skater Tonya Harding rises amo...,Nominated for 3 Oscars. Another 31 wins & 109 ...
9674,tt2244376,Drama,Plot: Bwakaw is a drama-comedy about growing o...,16 wins & 34 nominations.
9675,tt4986098,Sci-Fi,A military family takes part in a ground-break...,N/A
9675,tt4986098,Thriller,A military family takes part in a ground-break...,N/A