In [1]:
#Jia Yi (Susan) Wang
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats
import re
#import seaborn
#seaborn.set()

from sklearn.model_selection import train_test_split
#from sklearn.pipeline import make_pipeline
from sklearn.pipeline import Pipeline
#from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import FunctionTransformer

""""from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC"""

"""from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier"""

#from sklearn.cluster import KMeans
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
""""from sklearn.neighbors import KNeighborsRegressor
from sklearn.svm import SVR
from sklearn.neural_network import MLPRegressor"""
from sklearn.linear_model import LinearRegression

#from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.decomposition import TruncatedSVD #PCA for sparse values
from sklearn.ensemble import GradientBoostingClassifier

# Getting the data we need

In [2]:
genres = pd.read_json('data/genres.json.gz', orient='record', lines=True, encoding='utf-8')
omdb_data = pd.read_json('data/omdb-data.json.gz', orient='record', lines=True, encoding='utf-8')
rt_data = pd.read_json('data/rotten-tomatoes.json.gz', orient='record', lines=True, encoding='utf-8')
wd_data = pd.read_json('data/wikidata-movies.json.gz', orient='record', lines=True, encoding='utf-8')

In [3]:
omdb_data=omdb_data.explode('omdb_genres')
omdb_data=omdb_data[omdb_data.omdb_awards.notnull()]
omdb_data=omdb_data[omdb_data.omdb_awards!='N\A']

nominations_re = re.compile(r'Nominated for (\d+)')
nominations_re2 = re.compile(r'(\d+) nomination(s?)')
wins_re = re.compile(r'(\d+) win(s?)')
wins_re2 = re.compile(r'Won (\d+)')

def get_wins(txt):
    wins = 0
    wins1 = wins_re.search(txt)
    wins2 = wins_re2.search(txt)
    if wins1:
        wins = wins + int(wins1.group(1))
    if wins2:
        wins = wins + int(wins2.group(1))
    return wins

def get_nominations(txt):
    noms = 0
    nominations1 = nominations_re.search(txt)
    nominations2 = nominations_re2.search(txt)
    if nominations1:
        noms = noms + int(nominations1.group(1))
    if nominations2:
        noms = noms + int(nominations2.group(1))
    return noms

omdb_data['nominations'] = omdb_data['omdb_awards'].apply(get_nominations)
omdb_data['wins'] = omdb_data['omdb_awards'].apply(get_wins)

In [4]:
#np.set_printoptions(threshold=np.inf)
#set(omdb_data.omdb_awards)
omdb_data

,imdb_id,omdb_genres,omdb_plot,omdb_awards,nominations,wins
0,tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0
0,tt0060814,History,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0
0,tt0060814,War,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0
1,tt2379713,Action,A cryptic message from the past sends James Bo...,Won 1 Oscar. Another 7 wins & 32 nominations.,32,8
1,tt2379713,Adventure,A cryptic message from the past sends James Bo...,Won 1 Oscar. Another 7 wins & 32 nominations.,32,8
1,tt2379713,Thriller,A cryptic message from the past sends James Bo...,Won 1 Oscar. Another 7 wins & 32 nominations.,32,8
2,tt0230575,Comedy,"The makers of this parody of ""Night of the Liv...",N/A,0,0
2,tt0230575,Horror,"The makers of this parody of ""Night of the Liv...",N/A,0,0
3,tt0065988,Adventure,Jack Crabb is 121 years old as the film begins...,Nominated for 1 Oscar. Another 5 wins & 8 nomi...,9,5
3,tt0065988,Comedy,Jack Crabb is 121 years old as the film begins...,Nominated for 1 Oscar. Another 5 wins & 8 nomi...,9,5
3,tt0065988,Drama,Jack Crabb is 121 years old as the film begins...,Nominated for 1 Oscar. Another 5 wins & 8 nomi...,9,5
4,tt1995390,Crime,"When Perry and his girlfriend, Gail, cross pat...",2 nominations.,2,0
4,tt1995390,Drama,"When Perry and his girlfriend, Gail, cross pat...",2 nominations.,2,0
4,tt1995390,Thriller,"When Perry and his girlfriend, Gail, cross pat...",2 nominations.,2,0
5,tt0066921,Crime,"Protagonist Alex DeLarge is an ""ultraviolent"" ...",Nominated for 4 Oscars. Another 9 wins & 19 no...,23,9
5,tt0066921,Drama,"Protagonist Alex DeLarge is an ""ultraviolent"" ...",Nominated for 4 Oscars. Another 9 wins & 19 no...,23,9
5,tt0066921,Sci-Fi,"Protagonist Alex DeLarge is an ""ultraviolent"" ...",Nominated for 4 Oscars. Another 9 wins & 19 no...,23,9
6,tt1298650,Action,Captain Jack Sparrow (Depp) crosses paths with...,2 wins & 31 nominations.,31,2
6,tt1298650,Adventure,Captain Jack Sparrow (Depp) crosses paths with...,2 wins & 31 nominations.,31,2
6,tt1298650,Fantasy,Captain Jack Sparrow (Depp) crosses paths with...,2 wins & 31 nominations.,31,2
7,tt0069947,Crime,It is the early 60s in France. The remaining s...,Nominated for 1 Oscar. Another 1 win & 10 nomi...,11,1
7,tt0069947,Drama,It is the early 60s in France. The remaining s...,Nominated for 1 Oscar. Another 1 win & 10 nomi...,11,1
7,tt0069947,Thriller,It is the early 60s in France. The remaining s...,Nominated for 1 Oscar. Another 1 win & 10 nomi...,11,1
8,tt0116629,Action,"On July 2nd, communications systems worldwide ...",Won 1 Oscar. Another 34 wins & 34 nominations.,34,35
8,tt0116629,Adventure,"On July 2nd, communications systems worldwide ...",Won 1 Oscar. Another 34 wins & 34 nominations.,34,35
8,tt0116629,Sci-Fi,"On July 2nd, communications systems worldwide ...",Won 1 Oscar. Another 34 wins & 34 nominations.,34,35
9,tt0057012,Comedy,Paranoid Brigadier General Jack D. Ripper of B...,Nominated for 4 Oscars. Another 13 wins & 7 no...,11,13
9,tt0057012,War,Paranoid Brigadier General Jack D. Ripper of B...,Nominated for 4 Oscars. Another 13 wins & 7 no...,11,13
10,tt1568346,Crime,This English-language adaptation of the Swedis...,Won 1 Oscar. Another 27 wins & 90 nominations.,90,28
10,tt1568346,Drama,This English-language adaptation of the Swedis...,Won 1 Oscar. Another 27 wins & 90 nominations.,90,28
...,...,...,...,...,...,...
9661,tt2318405,Action,"In WW2, after a tank battle, a wounded Soviet ...",4 wins & 7 nominations.,7,4
9661,tt2318405,Adventure,"In WW2, after a tank battle, a wounded Soviet ...",4 wins & 7 nominations.,7,4
9661,tt2318405,Fantasy,"In WW2, after a tank battle, a wounded Soviet ...",4 wins & 7 nominations.,7,4
9662,tt0254617,Comedy,A young woman is in Orlando visiting her ailin...,N/A,0,0
9662,tt0254617,Romance,A young woman is in Orlando visiting her ailin...,N/A,0,0
9663,tt0266489,Comedy,Alex Rose and Nancy Kendricks are a young coup...,2 nominations.,2,0
9664,tt0280962,Crime,A terrifying love triangle. An original twist ...,4 wins & 2 nominations.,2,4
9664,tt0280962,Horror,A terrifying love triangle. An original twist ...,4 wins & 2 nominations.,2,4
9664,tt0280962,Romance,A terrifying love triangle. An original twist ...,4 wins & 2 nominations.,2,4
9665,tt0298491,Drama,"Nicklas lives a pretty normal teenage life, un...",10 wins & 3 nominations.,3,10
9665,tt0298491,Fantasy,"Nicklas lives a pretty normal teenage life, un...",10 wins & 3 nominations.,3,10
9665,tt0298491,Thriller,"Nicklas lives a pretty normal teenage life, un...",10 wins & 3 nominations.,3,10
9666,tt0978702,Drama,"Raghavendra, Vishnu, Chinna, and Vamsi are bro...",N/A,0,0
9667,tt0096219,Drama,An acerbic radio talk show host based in Dalla...,3 wins & 5 nominations.,5,3
9668,tt1986994,Fantasy,"""Season of the Equinox, the witch besets her k...",N/A,0,0
9668,tt1986994,Horror,"""Season of the Equinox, the witch besets her k...",N/A,0,0
9668,tt1986994,Thriller,"""Season of the Equinox, the witch besets her k...",N/A,0,0
9669,tt1183487,Drama,Colin Mc Nally couldn't give a toss about the ...,5 wins.,0,5
9670,tt0113101,Comedy,This movie features the collaborative director...,1 win & 1 nomination.,1,1
9671,tt0052365,Action,Einar and Eric are two Viking half-brothers. T...,2 wins & 1 nomination.,1,2
9671,tt0052365,Adventure,Einar and Eric are two Viking half-brothers. T...,2 wins & 1 nomination.,1,2
9672,tt0088099,Comedy,In lieu of love and affections from his multi-...,2 wins & 1 nomination.,1,2
9672,tt0088099,Drama,In lieu of love and affections from his multi-...,2 wins & 1 nomination.,1,2
9672,tt0088099,Romance,In lieu of love and affections from his multi-...,2 wins & 1 nomination.,1,2
9673,tt5580036,Biography,Competitive ice skater Tonya Harding rises amo...,Nominated for 3 Oscars. Another 31 wins & 109 ...,112,31
9673,tt5580036,Comedy,Competitive ice skater Tonya Harding rises amo...,Nominated for 3 Oscars. Another 31 wins & 109 ...,112,31
9673,tt5580036,Drama,Competitive ice skater Tonya Harding rises amo...,Nominated for 3 Oscars. Another 31 wins & 109 ...,112,31
9674,tt2244376,Drama,Plot: Bwakaw is a drama-comedy about growing o...,16 wins & 34 nominations.,34,16
9675,tt4986098,Sci-Fi,A military family takes part in a ground-break...,N/A,0,0
9675,tt4986098,Thriller,A military family takes part in a ground-break...,N/A,0,0

In [5]:
wd_data = wd_data.explode('cast_member')
movies_played=wd_data[['cast_member','wikidata_id']].groupby('cast_member').count().reset_index().rename(columns={'wikidata_id':'movies_in'})
wd_data_stars = movies_played[movies_played.movies_in>=10]
wd_data_stars = wd_data_stars.set_index('cast_member').join(wd_data.set_index('cast_member'),on='cast_member').reset_index()

In [6]:
wd_data_stars #filter out actors who < 10 movies

,cast_member,movies_in,wikidata_id,label,imdb_id,rotten_tomatoes_id,enwiki_title,genre,director,publication_date,country_of_origin,original_language,filming_location,based_on,made_profit,metacritic_id,main_subject,series
0,Q1001214,11,Q1211343,The Beverly Hillbillies,tt0106400,m/1046435-beverly_hillbillies,The Beverly Hillbillies (film),[Q157443],[Q441578],1993-01-01,Q30,Q1860,[Q3476090],NaN,NaN,NaN,NaN,NaN
1,Q1001214,11,Q1619460,Broadway Melody of 1936,tt0026144,m/broadway_melody_of_1936,Broadway Melody of 1936,[Q842256],"[Q918762, Q547078]",1935-01-01,Q30,Q1860,NaN,NaN,NaN,NaN,NaN,NaN
2,Q1001214,11,Q193066,Breakfast at Tiffany's,tt0054698,m/breakfast_at_tiffanys,Breakfast at Tiffany's (film),"[Q860626, Q157443, Q52162262]",[Q56093],1961-01-01,Q30,Q1860,[Q60],Q849930,1.0,movie/breakfast-at-tiffanys,NaN,NaN
3,Q1001214,11,Q229547,Born to Dance,tt0027387,m/born_to_dance,Born to Dance,[Q842256],[Q918762],1936-01-01,Q30,Q1860,NaN,NaN,NaN,NaN,NaN,NaN
4,Q1001214,11,Q1093219,"Davy Crockett, King of the Wild Frontier",tt0047977,m/davy_crockett_king_of_the_wild_frontier,"Davy Crockett, King of the Wild Frontier",[Q2143665],[Q2409726],1955-05-25,Q30,Q1860,"[Q99, Q1454]",NaN,NaN,NaN,[Q638530],Q3019192
5,Q1001214,11,Q1424447,The Girl of the Golden West,tt0030182,m/girl_of_the_golden_west,The Girl of the Golden West (1938 film),"[Q130232, Q1054574, Q842256, Q172980]",[Q269731],1938-01-01,Q30,Q1860,NaN,NaN,NaN,NaN,NaN,NaN
6,Q1001214,11,Q624658,Mail Order Bride,tt0058318,m/771070746,Mail Order Bride (1964 film),[Q172980],[Q786712],1964-01-01,Q30,Q1860,NaN,NaN,NaN,NaN,NaN,NaN
7,Q1001214,11,Q3202604,"The One and Only, Genuine, Original Family Band",tt0063389,m/one_and_only_genuine_original_family_band,"The One and Only, Genuine, Original Family Band",[Q842256],[Q1688887],1968-03-21,Q30,Q1860,NaN,NaN,NaN,NaN,NaN,NaN
8,Q1001214,11,Q3282128,Red Garters,tt0047400,m/red_garters,Red Garters (film),[Q842256],[Q1384550],1954-01-01,Q30,Q1860,NaN,NaN,NaN,NaN,NaN,NaN
9,Q1001214,11,Q7522737,Sing Your Worries Away,tt0035338,m/sing_your_worries_away,Sing Your Worries Away,[Q842256],[Q278657],1942-01-01,Q30,Q1860,NaN,NaN,NaN,NaN,NaN,NaN
10,Q1001214,11,Q638884,Attack,tt0048966,m/1100820-attack,Attack (1956 film),[Q369747],[Q95133],1956-09-01,Q30,Q1860,NaN,NaN,NaN,NaN,[Q362],NaN
11,Q100122,10,Q3548291,A Yank in the R.A.F.,tt0034405,m/yank_in_the_raf,A Yank in the R.A.F.,"[Q1935609, Q188473, Q369747, Q130232]",[Q269505],1941-09-25,Q30,Q1860,NaN,NaN,NaN,NaN,"[Q765633, Q362, Q154720]",NaN
12,Q100122,10,Q3211582,Fear,tt0047336,m/770911172,Fear (1954 film),"[Q1919632, Q1054574, Q2254548, Q130232, Q52162...",[Q53003],1954-01-01,Q38,Q188,NaN,Q543773,NaN,NaN,NaN,NaN
13,Q100122,10,Q2411975,The Hitler Gang,tt0036921,m/the-hitler-gang,The Hitler Gang,"[Q369747, Q130232]",[Q547495],1944-01-01,Q30,Q1860,NaN,NaN,NaN,NaN,[Q362],NaN
14,Q100122,10,Q1401787,The Dark Corner,tt0038453,m/dark_corner,The Dark Corner,"[Q185867, Q959790, Q130232]",[Q457250],1946-01-01,Q30,Q1860,NaN,Q174941,NaN,NaN,NaN,NaN
15,Q100122,10,Q1662410,"What Did You Do in the War, Daddy?",tt0061176,m/what_did_you_do_in_the_war_daddy,"What Did You Do in the War, Daddy?","[Q369747, Q157443]",[Q56093],1966-01-01,Q30,Q1860,NaN,NaN,NaN,NaN,[Q362],NaN
16,Q100122,10,Q1390900,"Arise, My Love",tt0032220,m/arise_my_love,"Arise, My Love",[Q860626],[Q276130],1940-01-01,Q30,Q1860,NaN,NaN,NaN,NaN,"[Q765633, Q362, Q10859]",NaN
17,Q100122,10,Q578061,Unfaithfully Yours,tt0040919,m/1022369-unfaithfully_yours,Unfaithfully Yours (1948 film),[Q860626],[Q546204],1948-01-01,Q30,Q1860,NaN,NaN,NaN,NaN,NaN,NaN
18,Q100122,10,Q1263897,The Enemy Below,tt0050356,m/enemy_below,The Enemy Below,[Q369747],[Q287977],1957-01-01,Q30,Q1860,NaN,NaN,NaN,NaN,"[Q362, Q1757301]",NaN
19,Q100122,10,Q760014,Edge of Darkness,tt0034694,m/1040593-edge_of_darkness,Edge of Darkness (1943 film),"[Q369747, Q130232]",[Q285928],1943-01-01,Q30,Q1860,NaN,NaN,NaN,NaN,[Q362],NaN
20,Q100122,10,Q758585,Hangmen Also Die!,tt0035966,m/hangmen_also_die,Hangmen Also Die!,"[Q369747, Q130232]",[Q19504],1943-03-23,Q30,Q1860,NaN,NaN,NaN,NaN,[Q362],NaN
21,Q100417,11,Q7767905,The Tailor from Ulm,tt0078209,m/der_schneider_von_ulm_2011,The Tailor from Ulm,"[Q130232, Q645928]",[Q64392],1978-01-01,Q183,Q188,NaN,NaN,NaN,NaN,[Q765633],NaN
22,Q100417,11,Q167411,The Counterfeiters,tt0813547,m/counterfeiter,The Counterfeiters (2007 film),"[Q130232, Q17013749, Q959790]",[Q93833],2007-01-01,Q183,Q188,"[Q235, Q183, Q1741]",Q10543798,NaN,movie/counterfeiters,"[Q422326, Q362, Q2763]",NaN
23,Q100417,11,Q18760229,Honig im Kopf,tt3488462,m/honig_im_kopf,Head Full of Honey,[Q157443],[Q57391],2014-12-15,Q183,Q188,NaN,NaN,NaN,NaN,NaN,NaN
24,Q100417,11,Q316555,The NeverEnding Story,tt0088323,m/the_neverending_story_1984,The NeverEnding Story (film),"[Q157394, Q2143665, Q52162262]",[Q65321],1984-01-01,Q183,Q1860,[Q24639],Q463108,0.0,movie/the-neverending-story,NaN,NaN
25,Q100417,11,Q1307065,One or the Other of Us,tt0071459,m/770813471,One or the Other of Us,[Q130232],[Q65321],1974-01-01,Q183,Q188,NaN,NaN,NaN,NaN,NaN,NaN
26,Q100417,11,Q325901,My Friend from Faro,tt1176686,m/770810157,My Friend from Faro,"[Q130232, Q20442589]",[Q21511943],2008-01-01,Q183,Q188,NaN,NaN,NaN,NaN,[Q6636],NaN
27,Q100417,11,Q1198160,The Magic Mountain,tt0084946,m/thomas_manns_the_magic_mountain,The Magic Mountain (1982 film),"[Q2975633, Q130232]",[Q74013],1982-02-25,Q142,Q188,[Q11911],Q212898,NaN,NaN,NaN,NaN
28,Q100417,11,Q15991166,Little Thirteen,tt2215267,m/little_thirteen_2012,Little Thirteen,"[Q130232, Q2975633]",[Q15794217],2012-01-01,Q183,Q188,[Q64],NaN,NaN,NaN,NaN,NaN
29,Q100417,11,Q1213256,The Hamburg Syndrome,tt0079264,m/the_hamburg_syndrome,The Hamburg Syndrome,"[Q471839, Q130232]",[Q76392],1979-01-01,Q183,Q188,NaN,NaN,NaN,NaN,[Q44512],NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166069,Q999332,31,Q1280880,The Real Blonde,tt0119987,m/real_blonde,The Real Blonde,[Q157443],[Q784641],1997-01-01,Q30,Q1860,[Q60],NaN,NaN,movie/the-real-blonde,NaN,NaN
166070,Q999332,31,Q1425127,Tune in Tomorrow,tt0100822,m/tune_in_tomorrow,Tune in Tomorrow,[Q157443],[Q1702735],1990-01-01,Q30,Q1860,"[Q34404, Q1454]",NaN,NaN,NaN,NaN,NaN
166071,Q999332,31,Q1435036,The Last Shot,tt0357054,m/last_shot,The Last Shot,[Q157443],[Q771104],2004-01-01,Q30,Q1860,NaN,NaN,NaN,movie/the-last-shot,NaN,NaN
166072,Q999332,31,Q1545189,Defending Your Life,tt0101698,m/defending_your_life,Defending Your Life,"[Q860626, Q157394]",[Q356303],1991-01-01,Q30,Q1860,NaN,NaN,NaN,NaN,NaN,NaN
166073,Q999332,31,Q1193184,The Secret War of Harry Frigg,tt0063573,m/secret_war_of_harry_frigg,The Secret War of Harry Frigg,"[Q157443, Q369747]",[Q606380],1967-01-01,Q30,Q1860,NaN,NaN,NaN,NaN,[Q362],NaN
166074,Q999332,31,Q1422017,Even Cowgirls Get the Blues,tt0106834,m/even_cowgirls_get_the_blues,Even Cowgirls Get the Blues (film),"[Q860626, Q859369, Q1257444, Q20442589]",[Q25186],1993-01-01,Q30,Q1860,NaN,NaN,NaN,movie/even-cowgirls-get-the-blues,NaN,NaN
166075,Q999332,31,Q141447,Town & Country,tt0141907,m/town_and_country,Town & Country (film),[Q860626],[Q1333379],2001-01-01,Q30,Q1860,[Q65],NaN,NaN,movie/town-country,NaN,NaN
166076,Q999332,31,Q217627,The Graduate,tt0061722,m/graduate,The Graduate,"[Q859369, Q2975633, Q52162262]",[Q51537],1967-01-01,Q30,Q1860,"[Q62, Q456685]",Q6725109,NaN,movie/the-graduate,[Q170538],NaN
166077,Q999332,31,Q938612,Harrison Bergeron,tt0113264,m/kurt_vonneguts_harrison_bergeron,Harrison Bergeron (film),"[Q471839, Q20443008]",[Q2926461],1995-01-01,Q16,Q1860,NaN,NaN,NaN,NaN,NaN,NaN
166078,Q999332,31,Q471720,Grumpy Old Men,tt0107050,m/grumpy_old_men,Grumpy Old Men (film),"[Q860626, Q663106, Q28026639]",[Q521262],1993-01-01,Q30,Q1860,NaN,NaN,1.0,movie/grumpy-old-men,[Q191089],NaN
166079,Q999332,31,Q509003,Die Brücke,tt0052654,m/1086058-bridge,Die Brücke (film),"[Q130232, Q369747]",[Q78924],1959-10-22,Q183,Q188,NaN,NaN,NaN,NaN,[Q362],NaN
166080,Q999332,31,Q590701,To Die For,tt0114681,m/1066712-to_die_for,To Die For,"[Q859369, Q157443]",[Q25186],1995-01-01,Q145,Q1860,[Q1904],NaN,NaN,movie/to-die-for,NaN,NaN
166081,Q999332,31,Q1273817,Taking Off,tt0067820,m/taking_off,Taking Off (film),"[Q859369, Q842256, Q157443]",[Q51525],1971-01-01,Q30,Q1860,NaN,NaN,NaN,NaN,NaN,NaN
166082,Q999332,31,Q1551573,The Player,tt0105151,m/player,The Player (film),[Q52162262],[Q55163],1992-01-01,Q30,Q1860,"[Q65, Q99, Q387047]",NaN,NaN,movie/the-player,NaN,NaN
166083,Q999332,31,Q637180,Heaven Can Wait,tt0077663,m/1009427-heaven_can_wait,Heaven Can Wait (1978 film),"[Q860626, Q157394]","[Q95030, Q999332]",1978-06-28,Q30,Q1860,NaN,Q583525,NaN,NaN,NaN,NaN
166084,Q999332,31,Q1195431,The Man Who Fell to Earth,tt0074851,m/man_who_fell_to_earth,The Man Who Fell to Earth,"[Q471839, Q130232, Q52162262]",[Q51541],1976-03-18,Q145,Q1860,[Q1522],Q2531250,NaN,movie/the-man-who-fell-to-earth-1976,[Q15326],NaN
166085,Q999332,31,Q7766753,The Story of Film: An Odyssey,tt2044056,m/the_story_of_film_an_odyssey_2012,The Story of Film: An Odyssey,"[Q7603925, Q93204]",[Q6767175],2011-01-01,Q145,Q1860,NaN,NaN,NaN,movie/the-story-of-film-an-odyssey,[Q1415395],NaN
166086,Q999332,31,Q16249127,Casting By,tt1293751,m/Casting_By,Casting By,[Q93204],[Q18001051],2012-09-10,Q30,Q1860,NaN,NaN,NaN,movie/casting-by,NaN,NaN
166087,Q999332,31,Q627942,Gloria,tt0080798,m/1008407-gloria,Gloria (1980 film),"[Q959790, Q130232]",[Q51488],1980-01-01,Q30,Q1860,"[Q60, Q1408]",NaN,NaN,NaN,[Q46952],NaN
166088,Q999332,31,Q654154,Aria,tt0092580,m/aria,Aria (film),[Q842256],"[Q53001, Q55163, Q449220, Q282787, Q348059, Q5...",1987-01-01,Q145,Q652,"[Q12994, Q99, Q2624848, Q84, Q90, Q816]",NaN,NaN,NaN,NaN,NaN
166089,Q999332,31,Q922251,Candy,tt0062776,m/1105374-candy,Candy (1968 film),"[Q319221, Q157394, Q157443, Q52162262]",[Q1081030],1968-01-01,Q142,Q1860,NaN,NaN,NaN,NaN,NaN,NaN
166090,Q999332,31,Q1125888,The Day of the Dolphin,tt0069946,m/day_of_the_dolphin,The Day of the Dolphin,"[Q622291, Q471839, Q188473, Q52162262]",[Q51537],1973-01-01,Q30,Q1860,[Q778],Q837041,NaN,NaN,[Q614130],NaN
166091,Q999332,31,Q3881503,Old Boyfriends,tt0079660,m/old_boyfriends,Old Boyfriends,[Q130232],[Q6205491],1979-01-01,Q30,Q1860,NaN,NaN,NaN,NaN,NaN,NaN
166092,Q999332,31,Q2349343,Eating Raoul,tt0083869,m/eating_raoul,Eating Raoul,[Q224700],[Q1651660],1982-01-01,Q30,Q1860,[Q65],NaN,NaN,NaN,NaN,NaN
166093,Q999332,31,Q428489,Curtain Call,tt0119505,m/curtain_call,Curtain Call (1998 film),"[Q157443, Q2973181]",[Q314301],1999-01-01,Q30,Q1860,NaN,NaN,NaN,NaN,NaN,NaN
166094,Q999332,31,Q903798,Breakfast of Champions,tt0120618,m/breakfast_of_champions,Breakfast of Champions (film),"[Q157443, Q20442589]",[Q1337411],1999-01-01,Q30,Q1860,NaN,NaN,NaN,movie/breakfast-of-champions,NaN,NaN
166095,Q999332,31,Q926839,Rude Awakening,tt0098230,m/1017957-rude_awakening,Rude Awakening (film),[Q157443],"[Q2413805, Q302634]",1989-01-01,Q30,Q1860,[Q812],NaN,NaN,NaN,NaN,NaN
166096,Q999332,31,Q1050533,Catch-22,tt0065528,m/catch22,Catch-22 (film),"[Q859369, Q369747, Q128758, Q53094, Q1257444]",[Q51537],1970-06-24,Q30,Q1860,NaN,Q278208,NaN,NaN,"[Q362, Q765633]",NaN
166097,Q999332,31,Q605226,Short Cuts,tt0108122,m/short_cuts,Short Cuts,[Q859369],[Q55163],1993-01-01,Q30,Q1860,[Q65],NaN,NaN,movie/short-cuts,[Q127683],NaN
166098,Q999332,31,Q12125142,Is There Sex After Death?,tt0125263,m/is_there_sex_after_death,Is There Sex After Death?,[Q459435],[Q4706046],1971-01-01,Q30,Q1860,NaN,NaN,NaN,NaN,[Q291],NaN

In [7]:
joined = omdb_data.set_index('imdb_id').join(rt_data.set_index('imdb_id'),on='imdb_id')
joined = joined.join(wd_data_stars.set_index('imdb_id'), lsuffix='_joined', rsuffix='_wd', on='imdb_id')

In [8]:
joined

,omdb_genres,omdb_plot,omdb_awards,nominations,wins,audience_average,audience_percent,audience_ratings,critic_average,critic_percent,...,director,publication_date,country_of_origin,original_language,filming_location,based_on,made_profit,metacritic_id,main_subject,series
imdb_id,,,,,,,,,,,,,,,,,,,,,
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
tt0060814,Drama,"In this sprawling, star-laden film, we see the...",Nominated for 2 Oscars. Another 2 nominations.,4,0,3.5,72.0,1311.0,6.4,80.0,...,[Q313190],1966-01-01,Q142,Q150,"[Q2875572, Q141747, Q2741353, Q1327827, Q34510...",NaN,NaN,NaN,[Q362],NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
tt0088099,Comedy,In lieu of love and affections from his multi-...,2 wins & 1 nomination.,1,2,3.7,62.0,88.0,NaN,NaN,...,[Q535404],1984-01-01,Q668,Q1568,NaN,NaN,NaN,NaN,NaN,NaN
tt0088099,Drama,In lieu of love and affections from his multi-...,2 wins & 1 nomination.,1,2,3.7,62.0,88.0,NaN,NaN,...,[Q535404],1984-01-01,Q668,Q1568,NaN,NaN,NaN,NaN,NaN,NaN
tt0088099,Drama,In lieu of love and affections from his multi-...,2 wins & 1 nomination.,1,2,3.7,62.0,88.0,NaN,NaN,...,[Q535404],1984-01-01,Q668,Q1568,NaN,NaN,NaN,NaN,NaN,NaN
tt0088099,Romance,In lieu of love and affections from his multi-...,2 wins & 1 nomination.,1,2,3.7,62.0,88.0,NaN,NaN,...,[Q535404],1984-01-01,Q668,Q1568,NaN,NaN,NaN,NaN,NaN,NaN
tt0088099,Romance,In lieu of love and affections from his multi-...,2 wins & 1 nomination.,1,2,3.7,62.0,88.0,NaN,NaN,...,[Q535404],1984-01-01,Q668,Q1568,NaN,NaN,NaN,NaN,NaN,NaN
tt5580036,Biography,Competitive ice skater Tonya Harding rises amo...,Nominated for 3 Oscars. Another 31 wins & 109 ...,112,31,4.0,88.0,10739.0,7.7,90.0,...,[Q3696452],2017-01-01,Q30,Q1860,NaN,NaN,1.0,NaN,NaN,NaN
tt5580036,Biography,Competitive ice skater Tonya Harding rises amo...,Nominated for 3 Oscars. Another 31 wins & 109 ...,112,31,4.0,88.0,10739.0,7.7,90.0,...,[Q3696452],2017-01-01,Q30,Q1860,NaN,NaN,1.0,NaN,NaN,NaN
tt5580036,Biography,Competitive ice skater Tonya Harding rises amo...,Nominated for 3 Oscars. Another 31 wins & 109 ...,112,31,4.0,88.0,10739.0,7.7,90.0,...,[Q3696452],2017-01-01,Q30,Q1860,NaN,NaN,1.0,NaN,NaN,NaN
tt5580036,Biography,Competitive ice skater Tonya Harding rises amo...,Nominated for 3 Oscars. Another 31 wins & 109 ...,112,31,4.0,88.0,10739.0,7.7,90.0,...,[Q3696452],2017-01-01,Q30,Q1860,NaN,NaN,1.0,NaN,NaN,NaN
tt5580036,Biography,Competitive ice skater Tonya Harding rises amo...,Nominated for 3 Oscars. Another 31 wins & 109 ...,112,31,4.0,88.0,10739.0,7.7,90.0,...,[Q3696452],2017-01-01,Q30,Q1860,NaN,NaN,1.0,NaN,NaN,NaN
tt5580036,Biography,Competitive ice skater Tonya Harding rises amo...,Nominated for 3 Oscars. Another 31 wins & 109 ...,112,31,4.0,88.0,10739.0,7.7,90.0,...,[Q3696452],2017-01-01,Q30,Q1860,NaN,NaN,1.0,NaN,NaN,NaN
tt5580036,Comedy,Competitive ice skater Tonya Harding rises amo...,Nominated for 3 Oscars. Another 31 wins & 109 ...,112,31,4.0,88.0,10739.0,7.7,90.0,...,[Q3696452],2017-01-01,Q30,Q1860,NaN,NaN,1.0,NaN,NaN,NaN
tt5580036,Comedy,Competitive ice skater Tonya Harding rises amo...,Nominated for 3 Oscars. Another 31 wins & 109 ...,112,31,4.0,88.0,10739.0,7.7,90.0,...,[Q3696452],2017-01-01,Q30,Q1860,NaN,NaN,1.0,NaN,NaN,NaN
tt5580036,Comedy,Competitive ice skater Tonya Harding rises amo...,Nominated for 3 Oscars. Another 31 wins & 109 ...,112,31,4.0,88.0,10739.0,7.7,90.0,...,[Q3696452],2017-01-01,Q30,Q1860,NaN,NaN,1.0,NaN,NaN,NaN
tt5580036,Comedy,Competitive ice skater Tonya Harding rises amo...,Nominated for 3 Oscars. Another 31 wins & 109 ...,112,31,4.0,88.0,10739.0,7.7,90.0,...,[Q3696452],2017-01-01,Q30,Q1860,NaN,NaN,1.0,NaN,NaN,NaN
tt5580036,Comedy,Competitive ice skater Tonya Harding rises amo...,Nominated for 3 Oscars. Another 31 wins & 109 ...,112,31,4.0,88.0,10739.0,7.7,90.0,...,[Q3696452],2017-01-01,Q30,Q1860,NaN,NaN,1.0,NaN,NaN,NaN
tt5580036,Comedy,Competitive ice skater Tonya Harding rises amo...,Nominated for 3 Oscars. Another 31 wins & 109 ...,112,31,4.0,88.0,10739.0,7.7,90.0,...,[Q3696452],2017-01-01,Q30,Q1860,NaN,NaN,1.0,NaN,NaN,NaN
tt5580036,Drama,Competitive ice skater Tonya Harding rises amo...,Nominated for 3 Oscars. Another 31 wins & 109 ...,112,31,4.0,88.0,10739.0,7.7,90.0,...,[Q3696452],2017-01-01,Q30,Q1860,NaN,NaN,1.0,NaN,NaN,NaN
tt5580036,Drama,Competitive ice skater Tonya Harding rises amo...,Nominated for 3 Oscars. Another 31 wins & 109 ...,112,31,4.0,88.0,10739.0,7.7,90.0,...,[Q3696452],2017-01-01,Q30,Q1860,NaN,NaN,1.0,NaN,NaN,NaN
tt5580036,Drama,Competitive ice skater Tonya Harding rises amo...,Nominated for 3 Oscars. Another 31 wins & 109 ...,112,31,4.0,88.0,10739.0,7.7,90.0,...,[Q3696452],2017-01-01,Q30,Q1860,NaN,NaN,1.0,NaN,NaN,NaN
tt5580036,Drama,Competitive ice skater Tonya Harding rises amo...,Nominated for 3 Oscars. Another 31 wins & 109 ...,112,31,4.0,88.0,10739.0,7.7,90.0,...,[Q3696452],2017-01-01,Q30,Q1860,NaN,NaN,1.0,NaN,NaN,NaN
tt5580036,Drama,Competitive ice skater Tonya Harding rises amo...,Nominated for 3 Oscars. Another 31 wins & 109 ...,112,31,4.0,88.0,10739.0,7.7,90.0,...,[Q3696452],2017-01-01,Q30,Q1860,NaN,NaN,1.0,NaN,NaN,NaN
tt5580036,Drama,Competitive ice skater Tonya Harding rises amo...,Nominated for 3 Oscars. Another 31 wins & 109 ...,112,31,4.0,88.0,10739.0,7.7,90.0,...,[Q3696452],2017-01-01,Q30,Q1860,NaN,NaN,1.0,NaN,NaN,NaN
tt2244376,Drama,Plot: Bwakaw is a drama-comedy about growing o...,16 wins & 34 nominations.,34,16,4.2,91.0,47.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tt4986098,Sci-Fi,A military family takes part in a ground-break...,N/A,0,0,1.9,16.0,522.0,3.9,17.0,...,[Q16832817],2018-04-13,Q30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tt4986098,Sci-Fi,A military family takes part in a ground-break...,N/A,0,0,1.9,16.0,522.0,3.9,17.0,...,[Q16832817],2018-04-13,Q30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tt4986098,Sci-Fi,A military family takes part in a ground-break...,N/A,0,0,1.9,16.0,522.0,3.9,17.0,...,[Q16832817],2018-04-13,Q30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tt4986098,Thriller,A military family takes part in a ground-break...,N/A,0,0,1.9,16.0,522.0,3.9,17.0,...,[Q16832817],2018-04-13,Q30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tt4986098,Thriller,A military family takes part in a ground-break...,N/A,0,0,1.9,16.0,522.0,3.9,17.0,...,[Q16832817],2018-04-13,Q30,NaN,NaN,NaN,NaN,NaN,NaN,NaN
tt4986098,Thriller,A military family takes part in a ground-break...,N/A,0,0,1.9,16.0,522.0,3.9,17.0,...,[Q16832817],2018-04-13,Q30,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Defining our Features and Labels and filtering data

In [9]:
info = joined.reset_index()
info = info[['audience_average', 'omdb_genres', 'cast_member', 'wins', 'nominations', 'country_of_origin']]
info = info[info.audience_average.notnull()]
info = info[info.cast_member.notnull()]
info = info[info.omdb_genres.notnull()]
info = info[info.omdb_genres != 'N/A']
info = info[info.country_of_origin.notnull()]
info = info[info.country_of_origin != 'N/A']

# Encoding categorical values

In [10]:
#One hot encoder example: https://medium.com/@contactsunny/label-encoder-vs-one-hot-encoder-in-machine-learning-3fc273365621
#Column Transforer source: https://datascience.stackexchange.com/questions/41113/deprecationwarning-the-categorical-features-keyword-is-deprecated-in-version

#Encoding the genres to binary

ct = ColumnTransformer(
    transformers=[
        ('one_hot_encoder', OneHotEncoder(handle_unknown='ignore'), [0,1,4])
    ],
    remainder='passthrough' 
) #randomforestregressor - try this

#X = ct.fit_transform(X)

In [11]:
info

,audience_average,omdb_genres,cast_member,wins,nominations,country_of_origin
0,3.5,Drama,Q104027,0,4,Q142
1,3.5,Drama,Q105987,0,4,Q142
2,3.5,Drama,Q106057,0,4,Q142
3,3.5,Drama,Q106126,0,4,Q142
4,3.5,Drama,Q106204,0,4,Q142
5,3.5,Drama,Q106255,0,4,Q142
6,3.5,Drama,Q106529,0,4,Q142
7,3.5,Drama,Q1096611,0,4,Q142
8,3.5,Drama,Q1097113,0,4,Q142
9,3.5,Drama,Q1358541,0,4,Q142
10,3.5,Drama,Q139560,0,4,Q142
11,3.5,Drama,Q193146,0,4,Q142
12,3.5,Drama,Q2093432,0,4,Q142
13,3.5,Drama,Q212048,0,4,Q142
14,3.5,Drama,Q230023,0,4,Q142
15,3.5,Drama,Q24829,0,4,Q142
16,3.5,Drama,Q295257,0,4,Q142
17,3.5,Drama,Q319527,0,4,Q142
18,3.5,Drama,Q327229,0,4,Q142
19,3.5,Drama,Q336841,0,4,Q142
20,3.5,Drama,Q355153,0,4,Q142
21,3.5,Drama,Q663553,0,4,Q142
22,3.5,Drama,Q66372,0,4,Q142
23,3.5,Drama,Q68654,0,4,Q142
24,3.5,Drama,Q730564,0,4,Q142
25,3.5,Drama,Q73138,0,4,Q142
26,3.5,Drama,Q76943,0,4,Q142
27,3.5,Drama,Q78404,0,4,Q142
28,3.5,Drama,Q92128,0,4,Q142
29,3.5,Drama,Q956942,0,4,Q142
...,...,...,...,...,...,...
148671,3.7,Comedy,Q3111264,2,1,Q668
148672,3.7,Comedy,Q9570,2,1,Q668
148673,3.7,Drama,Q3111264,2,1,Q668
148674,3.7,Drama,Q9570,2,1,Q668
148675,3.7,Romance,Q3111264,2,1,Q668
148676,3.7,Romance,Q9570,2,1,Q668
148677,4.0,Biography,Q1924847,31,112,Q30
148678,4.0,Biography,Q229487,31,112,Q30
148679,4.0,Biography,Q259663,31,112,Q30
148680,4.0,Biography,Q428819,31,112,Q30
148681,4.0,Biography,Q455898,31,112,Q30
148682,4.0,Biography,Q457905,31,112,Q30
148683,4.0,Comedy,Q1924847,31,112,Q30
148684,4.0,Comedy,Q229487,31,112,Q30
148685,4.0,Comedy,Q259663,31,112,Q30
148686,4.0,Comedy,Q428819,31,112,Q30
148687,4.0,Comedy,Q455898,31,112,Q30
148688,4.0,Comedy,Q457905,31,112,Q30
148689,4.0,Drama,Q1924847,31,112,Q30
148690,4.0,Drama,Q229487,31,112,Q30
148691,4.0,Drama,Q259663,31,112,Q30
148692,4.0,Drama,Q428819,31,112,Q30
148693,4.0,Drama,Q455898,31,112,Q30
148694,4.0,Drama,Q457905,31,112,Q30
148696,1.9,Sci-Fi,Q1132632,0,0,Q30
148697,1.9,Sci-Fi,Q211322,0,0,Q30
148698,1.9,Sci-Fi,Q82085,0,0,Q30
148699,1.9,Thriller,Q1132632,0,0,Q30
148700,1.9,Thriller,Q211322,0,0,Q30
148701,1.9,Thriller,Q82085,0,0,Q30

# GradientBoostingRegessor model for predicting audience average

In [12]:
model = Pipeline(
        #steps=[('col_trans',ct), ('lr', LinearRegression(fit_intercept=False))]
        steps=[
            ('col_trans',ct), 
            ('pca', TruncatedSVD(2)), 
            ('gfr', GradientBoostingRegressor(max_depth=5, n_estimators=100, min_samples_leaf=10))
        ]
    )

X=info.drop(columns=['audience_average'],axis=1)
y=info['audience_average']

X_train, X_valid, y_train, y_valid = train_test_split(X,y)

model.fit(X_train, y_train)

print(model.score(X_train,y_train))
print(model.score(X_valid,y_valid)) 

#For actors that starred in >1 movie:
#m_d=5: train=0.3398654, valid=0.33893729 15.3 s
#m_d=6: train=0.37, valid=0.36 20.3s
#m_d=7: train=0.40, valid=0.39 23.3s
#m_d=8: train=0.42, valid=0.40 30.7s
#m_d=9: train=0.45, valid=0.43 34.1s
#m_d=10 : train=0.46, valid=0.44 44.4s
#m_d=15 : train=0.53, valid=0.47 1min37s
#m_d=20 : train=0.55, valid=0.47 2min55s
#m_d=30 : train=0.57, valid=0.46 4min48s

0.35703702193772213
0.3537020119887683

# Same model for predicting critic average

In [13]:
info = joined.reset_index()
info = info[['critic_average', 'omdb_genres', 'cast_member', 'wins', 'nominations', 'country_of_origin']]
info = info[info.critic_average.notnull()]
info = info[info.cast_member.notnull()]
info = info[info.omdb_genres.notnull()]
info = info[info.omdb_genres != 'N/A']
info = info[info.country_of_origin.notnull()]
info = info[info.country_of_origin != 'N/A']

ct = ColumnTransformer(
    transformers=[
        ('one_hot_encoder', OneHotEncoder(handle_unknown='ignore'), [0,1,4])
    ],
    remainder='passthrough' 
)

model = Pipeline(
        #steps=[('col_trans',ct), ('lr', LinearRegression(fit_intercept=False))]
        steps=[
            ('col_trans',ct), 
            ('pca', TruncatedSVD(2)), 
            ('gfr', GradientBoostingRegressor(max_depth=5, n_estimators=100, min_samples_leaf=10))
        ]
    )

X=info.drop(columns=['critic_average'],axis=1)
y=info['critic_average']

X_train, X_valid, y_train, y_valid = train_test_split(X,y)

model.fit(X_train, y_train)

print(model.score(X_train,y_train))
print(model.score(X_valid,y_valid))

0.4230949670692249
0.4147061010205805

# Same model for predicting audience percent

In [14]:
info = joined.reset_index()
info = info[['audience_percent', 'omdb_genres', 'cast_member', 'wins', 'nominations', 'country_of_origin']]
info = info[info.audience_percent.notnull()]
info = info[info.cast_member.notnull()]
info = info[info.omdb_genres.notnull()]
info = info[info.omdb_genres != 'N/A']
info = info[info.country_of_origin.notnull()]
info = info[info.country_of_origin != 'N/A']

ct = ColumnTransformer(
    transformers=[
        ('one_hot_encoder', OneHotEncoder(handle_unknown='ignore'), [0,1,4])
    ],
    remainder='passthrough' 
)

model = Pipeline(
        #steps=[('col_trans',ct), ('lr', LinearRegression(fit_intercept=False))]
        steps=[
            ('col_trans',ct), 
            ('pca', TruncatedSVD(2)), 
            ('gfr', GradientBoostingRegressor(max_depth=5, n_estimators=100, min_samples_leaf=10))
        ]
    )

X=info.drop(columns=['audience_percent'],axis=1)
y=info['audience_percent']

X_train, X_valid, y_train, y_valid = train_test_split(X,y)

model.fit(X_train, y_train)

print(model.score(X_train,y_train))
print(model.score(X_valid,y_valid))

0.3813345359279158
0.37684707418118524

# Same model for predicting critic percent

In [15]:
info = joined.reset_index()
info = info[['critic_percent', 'omdb_genres', 'cast_member', 'wins', 'nominations', 'country_of_origin']]
info = info[info.critic_percent.notnull()]
info = info[info.cast_member.notnull()]
info = info[info.omdb_genres.notnull()]
info = info[info.omdb_genres != 'N/A']
info = info[info.country_of_origin.notnull()]
info = info[info.country_of_origin != 'N/A']

ct = ColumnTransformer(
    transformers=[
        ('one_hot_encoder', OneHotEncoder(handle_unknown='ignore'), [0,1,4])
    ],
    remainder='passthrough' 
)

model = Pipeline(
        #steps=[('col_trans',ct), ('lr', LinearRegression(fit_intercept=False))]
        steps=[
            ('col_trans',ct), 
            ('pca', TruncatedSVD(2)), 
            ('gfr', GradientBoostingRegressor(max_depth=5, n_estimators=100, min_samples_leaf=10))
        ]
    )

X=info.drop(columns=['critic_percent'],axis=1)
y=info['critic_percent']

X_train, X_valid, y_train, y_valid = train_test_split(X,y)

model.fit(X_train, y_train)

print(model.score(X_train,y_train))
print(model.score(X_valid,y_valid))

0.35135723615734105
0.3369150264759809

# Same model for predicting if a movie profits

In [16]:
info = joined.reset_index()
info = info[['made_profit', 'omdb_genres', 'cast_member', 'wins', 'nominations', 'country_of_origin']]
info = info[info.made_profit.notnull()]
info = info[info.cast_member.notnull()]
info = info[info.omdb_genres.notnull()]
info = info[info.omdb_genres != 'N/A']
info = info[info.country_of_origin.notnull()]
info = info[info.country_of_origin != 'N/A']

ct = ColumnTransformer(
    transformers=[
        ('one_hot_encoder', OneHotEncoder(handle_unknown='ignore'), [0,1,4])
    ],
    remainder='passthrough' 
)

model = Pipeline(
        #steps=[('col_trans',ct), ('lr', LinearRegression(fit_intercept=False))]
        steps=[
            ('col_trans',ct), 
            ('pca', TruncatedSVD(2)), 
            ('gfr', GradientBoostingClassifier(max_depth=5, n_estimators=100, min_samples_leaf=10))
        ]
    )

X=info.drop(columns=['made_profit'],axis=1)
y=info['made_profit']

X_train, X_valid, y_train, y_valid = train_test_split(X,y)

model.fit(X_train, y_train)

print(model.score(X_train,y_train))
print(model.score(X_valid,y_valid))

0.9453778744152336
0.9349673848586677